body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的订单_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:5px;
    width:1200px;
    height:81px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:87px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:167px;
    top:27px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:169px;
    top:59px;
    width:95px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的订单_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:116px;
    top:27px;
    width:48px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:50px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:790px;
    top:15px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../我的订单_files/tab_u7_mouseOver.png');
}

.u7_mouseDown {
    background-image: url('../我的订单_files/tab_u7_mouseDown.png');
}

.u7_disabled {
    background-image: url('../我的订单_files/tab_u7_disabled.png');
}

.u7_normal {
    background-image: url('../我的订单_files/tab_u7_disabled.png');
}

.u7_container {
    position:absolute;
    left:605px;
    top:38px;
    width:122px;
    height:42px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:9px;
    width:118px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../我的订单_files/tab_u9_mouseOver.png');
}

.u9_mouseDown {
    background-image: url('../我的订单_files/tab_u9_mouseDown.png');
}

.u9_disabled {
    background-image: url('../我的订单_files/tab_u9_disabled.png');
}

.u9_normal {
    background-image: url('../我的订单_files/tab_u9_disabled.png');
}

.u9_container {
    position:absolute;
    left:321px;
    top:35px;
    width:134px;
    height:42px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:48px;
}

.u10 {
    position:absolute;
    left:2px;
    top:9px;
    width:130px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../我的订单_files/tab_u12_mouseOver.png');
}

.u12_mouseDown {
    background-image: url('../我的订单_files/tab_u12_mouseDown.png');
}

.u12_disabled {
    background-image: url('../我的订单_files/tab_u12_disabled.png');
}

.u12_normal {
    background-image: url('../我的订单_files/tab_u12_disabled.png');
}

.u12_container {
    position:absolute;
    left:462px;
    top:34px;
    width:128px;
    height:45px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:51px;
}

.u13 {
    position:absolute;
    left:2px;
    top:10px;
    width:124px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../我的订单_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:325px;
    top:45px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../我的订单_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:613px;
    top:44px;
    width:30px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u17 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../我的订单_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:466px;
    top:48px;
    width:25px;
    height:26px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../我的订单_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:467px;
    height:3px;
}

.u20 {
    position:absolute;
    left:0px;
    top:76px;
    width:467px;
    height:10px;
    
}

.u21_line {
    background-image: url('../我的订单_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:756px;
    height:3px;
}

.u21 {
    position:absolute;
    left:444px;
    top:76px;
    width:756px;
    height:10px;
    
}

.u22_normal {
    background-image: url('../我的订单_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:567px;
    top:21px;
    width:21px;
    height:19px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:25px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../我的订单_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:115px;
    top:136px;
    width:149px;
    height:51px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:57px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:145px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../我的订单_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:115px;
    top:209px;
    width:147px;
    height:49px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:55px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:756px;
    top:46px;
    width:173px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../我的订单_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:889px;
    height:3px;
}

.u29 {
    position:absolute;
    left:102px;
    top:123px;
    width:889px;
    height:10px;
    
}

.u30 {
    position:absolute;
    left:311px;
    top:140px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:311px;
    top:166px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../我的订单_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:889px;
    height:3px;
}

.u32 {
    position:absolute;
    left:102px;
    top:194px;
    width:889px;
    height:10px;
    
}

.u33 {
    position:absolute;
    left:732px;
    top:133px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:313px;
    top:211px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:313px;
    top:237px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:732px;
    top:202px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../我的订单_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:889px;
    height:3px;
}

.u37 {
    position:absolute;
    left:103px;
    top:263px;
    width:889px;
    height:10px;
    
}

.u38_mouseOver {
    background-image: url('../我的订单_files/button_u38_mouseOver.png');
}

.u38_mouseDown {
    background-image: url('../我的订单_files/button_u38_mouseDown.png');
}

.u38_disabled {
    background-image: url('../我的订单_files/button_u38_disabled.png');
}

.u38_normal {
    background-image: url('../我的订单_files/button_u38_normal.png');
}

.u38_container {
    position:absolute;
    left:739px;
    top:226px;
    width:88px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:84px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:311px;
    top:284px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:311px;
    top:310px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:732px;
    top:272px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../我的订单_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:889px;
    height:3px;
}

.u43 {
    position:absolute;
    left:101px;
    top:327px;
    width:889px;
    height:10px;
    
}

.u44_mouseOver {
    background-image: url('../我的订单_files/button_u38_mouseOver.png');
}

.u44_mouseDown {
    background-image: url('../我的订单_files/button_u38_mouseDown.png');
}

.u44_disabled {
    background-image: url('../我的订单_files/button_u38_disabled.png');
}

.u44_normal {
    background-image: url('../我的订单_files/button_u38_normal.png');
}

.u44_container {
    position:absolute;
    left:739px;
    top:302px;
    width:88px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:84px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:311px;
    top:354px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:311px;
    top:380px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:732px;
    top:344px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_line {
    background-image: url('../我的订单_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:889px;
    height:3px;
}

.u49 {
    position:absolute;
    left:103px;
    top:406px;
    width:889px;
    height:10px;
    
}

.u50_normal {
    background-image: url('../我的订单_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:116px;
    top:347px;
    width:146px;
    height:49px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:55px;
}

.u51 {
    position:absolute;
    left:2px;
    top:8px;
    width:142px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:116px;
    top:96px;
    width:365px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../我的订单_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:190px;
    top:151px;
    width:63px;
    height:26px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:32px;
}

.u54 {
    position:absolute;
    left:2px;
    top:5px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../我的订单_files/u53_normal.png');
}

.u55_container {
    position:absolute;
    left:190px;
    top:220px;
    width:63px;
    height:26px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:32px;
}

.u56 {
    position:absolute;
    left:2px;
    top:5px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../我的订单_files/u26_normal.png');
}

.u57_container {
    position:absolute;
    left:116px;
    top:274px;
    width:147px;
    height:49px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:55px;
}

.u58 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../我的订单_files/u53_normal.png');
}

.u59_container {
    position:absolute;
    left:193px;
    top:285px;
    width:63px;
    height:26px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:5px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../我的订单_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:190px;
    top:358px;
    width:63px;
    height:26px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:32px;
}

.u62 {
    position:absolute;
    left:2px;
    top:5px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

