body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../注册_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:1200px;
    height:65px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:71px;
}

.u1 {
    position:absolute;
    left:2px;
    top:24px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:167px;
    top:7px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:169px;
    top:39px;
    width:95px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../注册_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:116px;
    top:7px;
    width:48px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:50px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:920px;
    top:35px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../注册_files/tab_u7_mouseOver.png');
}

.u7_mouseDown {
    background-image: url('../注册_files/tab_u7_mouseDown.png');
}

.u7_disabled {
    background-image: url('../注册_files/tab_u7_disabled.png');
}

.u7_normal {
    background-image: url('../注册_files/tab_u7_disabled.png');
}

.u7_container {
    position:absolute;
    left:605px;
    top:18px;
    width:122px;
    height:42px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:9px;
    width:118px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../注册_files/tab_u9_mouseOver.png');
}

.u9_mouseDown {
    background-image: url('../注册_files/tab_u9_mouseDown.png');
}

.u9_disabled {
    background-image: url('../注册_files/tab_u9_disabled.png');
}

.u9_normal {
    background-image: url('../注册_files/tab_u9_disabled.png');
}

.u9_container {
    position:absolute;
    left:459px;
    top:18px;
    width:134px;
    height:42px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:48px;
}

.u10 {
    position:absolute;
    left:2px;
    top:9px;
    width:130px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../注册_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:613px;
    top:24px;
    width:30px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../注册_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:466px;
    top:28px;
    width:25px;
    height:26px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../注册_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:444px;
    height:3px;
}

.u16 {
    position:absolute;
    left:0px;
    top:56px;
    width:444px;
    height:10px;
    
}

.u17_line {
    background-image: url('../注册_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:756px;
    height:3px;
}

.u17 {
    position:absolute;
    left:444px;
    top:56px;
    width:756px;
    height:10px;
    
}

.u18_normal {
    background-image: url('../注册_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:566px;
    top:11px;
    width:21px;
    height:19px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:25px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../注册_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:988px;
    height:3px;
}

.u20 {
    position:absolute;
    left:105px;
    top:891px;
    width:988px;
    height:10px;
    
}

.u21 {
    position:absolute;
    left:171px;
    top:906px;
    width:543px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:118px;
    top:98px;
    width:220px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:190px;
    top:133px;
    width:276px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:79px;
    top:139px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:467px;
    top:133px;
    width:53px;
    height:26px;
    overflow:hidden;
}

#pd1u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:26px;
    
}

.u26_normal {
    background-image: url('../注册_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:7px;
    width:14px;
    height:14px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:26px;
    
}

#u28 {
    position:absolute;
    left:189px;
    top:159px;
    width:331px;
    height:21px;
    overflow:hidden;
}

#pd3u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u29 {
    position:absolute;
    left:283px;
    top:347px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:4px;
    width:240px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u31 {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u32 {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u33 {
    position:absolute;
    left:189px;
    top:180px;
    width:276px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:78px;
    top:186px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:466px;
    top:180px;
    width:53px;
    height:26px;
    overflow:hidden;
}

#pd1u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:26px;
    
}

.u36_normal {
    background-image: url('../注册_files/u26_normal.png');
}

.u36_container {
    position:absolute;
    left:10px;
    top:7px;
    width:14px;
    height:14px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:26px;
    
}

#u38 {
    position:absolute;
    left:188px;
    top:206px;
    width:331px;
    height:21px;
    overflow:hidden;
}

#pd3u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u39 {
    position:absolute;
    left:283px;
    top:347px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:0px;
    top:4px;
    width:240px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u41 {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u42 {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:21px;
    
}

.u43 {
    position:absolute;
    left:190px;
    top:228px;
    width:228px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:98px;
    top:234px;
    width:82px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:418px;
    top:228px;
    width:44px;
    height:26px;
    overflow:hidden;
}

#pd1u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:26px;
    
}

.u46_normal {
    background-image: url('../注册_files/u26_normal.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:7px;
    width:14px;
    height:14px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:26px;
    
}

#u48 {
    position:absolute;
    left:189px;
    top:254px;
    width:273px;
    height:21px;
    overflow:hidden;
}

#pd3u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u49 {
    position:absolute;
    left:283px;
    top:347px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:4px;
    width:240px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u51 {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u52 {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u53 {
    position:absolute;
    left:190px;
    top:274px;
    width:228px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:98px;
    top:280px;
    width:83px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:419px;
    top:274px;
    width:43px;
    height:26px;
    overflow:hidden;
}

#pd1u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:26px;
    
}

.u56_normal {
    background-image: url('../注册_files/u26_normal.png');
}

.u56_container {
    position:absolute;
    left:10px;
    top:7px;
    width:14px;
    height:14px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:26px;
    
}

#u58 {
    position:absolute;
    left:189px;
    top:300px;
    width:273px;
    height:21px;
    overflow:hidden;
}

#pd3u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u59 {
    position:absolute;
    left:283px;
    top:347px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:0px;
    top:4px;
    width:240px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u61 {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u62 {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:21px;
    
}

.u63_mouseOver {
    background-image: url('../注册_files/button_u63_mouseOver.png');
}

.u63_mouseDown {
    background-image: url('../注册_files/button_u63_mouseDown.png');
}

.u63_selected {
    background-image: url('../注册_files/button_u63_selected.png');
}

.u63_disabled {
    background-image: url('../注册_files/button_u63_disabled.png');
}

.u63_normal {
    background-image: url('../注册_files/button_u63_normal.png');
}

.u63_container {
    position:absolute;
    left:208px;
    top:342px;
    width:100px;
    height:25px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u64 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../注册_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:95px;
    height:3px;
}

.u65 {
    position:absolute;
    left:210px;
    top:362px;
    width:95px;
    height:10px;
    
}

.u66_mouseOver {
    background-image: url('../注册_files/button_u63_mouseOver.png');
}

.u66_mouseDown {
    background-image: url('../注册_files/button_u63_mouseDown.png');
}

.u66_selected {
    background-image: url('../注册_files/button_u63_selected.png');
}

.u66_disabled {
    background-image: url('../注册_files/button_u63_disabled.png');
}

.u66_normal {
    background-image: url('../注册_files/button_u63_normal.png');
}

.u66_container {
    position:absolute;
    left:344px;
    top:342px;
    width:100px;
    height:25px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u67 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../注册_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:95px;
    height:3px;
}

.u68 {
    position:absolute;
    left:346px;
    top:362px;
    width:95px;
    height:10px;
    
}

.u69_mouseOver {
    background-image: url('../注册_files/tab_u69_mouseOver.png');
}

.u69_mouseDown {
    background-image: url('../注册_files/tab_u69_mouseDown.png');
}

.u69_disabled {
    background-image: url('../注册_files/tab_u69_disabled.png');
}

.u69_normal {
    background-image: url('../注册_files/tab_u69_disabled.png');
}

.u69_container {
    position:absolute;
    left:303px;
    top:17px;
    width:148px;
    height:42px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:48px;
}

.u70 {
    position:absolute;
    left:2px;
    top:9px;
    width:144px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../注册_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:310px;
    top:24px;
    width:30px;
    height:30px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u73 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

