body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:50px;
    top:141px;
    width:980px;
    height:158px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:158px;
}

.u1 {
    position:absolute;
    left:2px;
    top:71px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../待回答-有悬赏_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:51px;
    top:299px;
    width:979px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../待回答-有悬赏_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:290px;
    top:316px;
    width:88px;
    height:34px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:40px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:84px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../待回答-有悬赏_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:182px;
    top:315px;
    width:91px;
    height:34px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:40px;
}

.u7 {
    position:absolute;
    left:10px;
    top:8px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../待回答-有悬赏_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:237px;
    height:3px;
}

.u9 {
    position:absolute;
    left:50px;
    top:344px;
    width:237px;
    height:10px;
    
}

.u10_line {
    background-image: url('../待回答-有悬赏_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:648px;
    height:3px;
}

.u10 {
    position:absolute;
    left:380px;
    top:344px;
    width:648px;
    height:10px;
    
}

.u11_line {
    background-image: url('../待回答-有悬赏_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:91px;
    height:3px;
}

.u11 {
    position:absolute;
    left:288px;
    top:310px;
    width:91px;
    height:10px;
    
}

.u12_line {
    background-image: url('../待回答-有悬赏_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:34px;
}

.u12 {
    position:absolute;
    left:283px;
    top:315px;
    width:10px;
    height:34px;
    
}

.u13_line {
    background-image: url('../待回答-有悬赏_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:34px;
}

.u13 {
    position:absolute;
    left:375px;
    top:315px;
    width:10px;
    height:34px;
    
}

.u14_line {
    background-image: url('../待回答-有悬赏_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u14 {
    position:absolute;
    left:1024px;
    top:299px;
    width:10px;
    height:50px;
    
}

.u15_normal {
    background-image: url('../待回答-有悬赏_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:63px;
    top:231px;
    width:103px;
    height:103px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:109px;
}

.u16 {
    position:absolute;
    left:2px;
    top:44px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../待回答-有悬赏_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:65px;
    top:233px;
    width:100px;
    height:100px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u18 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:178px;
    top:259px;
    width:132px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../待回答-有悬赏_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:304px;
    top:271px;
    width:40px;
    height:15px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:21px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../页头_files/u68_normal.png');
}

.u22_container {
    position:absolute;
    left:35px;
    top:2px;
    width:1020px;
    height:107px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:107px;
}

.u23 {
    position:absolute;
    left:2px;
    top:46px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:53px;
    top:119px;
    width:199px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../待回答-有悬赏_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u27 {
    position:absolute;
    left:45px;
    top:299px;
    width:10px;
    height:50px;
    
}

.u28 {
    position:absolute;
    left:80px;
    top:447px;
    width:463px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:80px;
    top:477px;
    width:112px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../待回答-有悬赏_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:484px;
    top:443px;
    width:59px;
    height:23px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:23px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:710px;
    top:450px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../待回答-有悬赏_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:711px;
    height:3px;
}

.u34 {
    position:absolute;
    left:52px;
    top:559px;
    width:711px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:80px;
    top:581px;
    width:462px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:80px;
    top:611px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:710px;
    top:582px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:80px;
    top:722px;
    width:390px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_line {
    background-image: url('../待回答-有悬赏_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:0px;
    top:4px;
    width:713px;
    height:3px;
}

.u39 {
    position:absolute;
    left:51px;
    top:843px;
    width:713px;
    height:10px;
    
}

.u40_line {
    background-image: url('../待回答-有悬赏_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:712px;
    height:3px;
}

.u40 {
    position:absolute;
    left:51px;
    top:698px;
    width:712px;
    height:10px;
    
}

.u41_normal {
    background-image: url('../待回答-有悬赏_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:426px;
    top:718px;
    width:34px;
    height:22px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:22px;
}

.u42 {
    position:absolute;
    left:2px;
    top:3px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:79px;
    top:866px;
    width:252px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../待回答-有悬赏_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:4px;
    width:713px;
    height:3px;
}

.u44 {
    position:absolute;
    left:51px;
    top:989px;
    width:713px;
    height:10px;
    
}

.u45_line {
    background-image: url('../待回答-有悬赏_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:712px;
    height:3px;
}

.u45 {
    position:absolute;
    left:51px;
    top:843px;
    width:712px;
    height:10px;
    
}

.u46 {
    position:absolute;
    left:81px;
    top:1020px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../待回答-有悬赏_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:404px;
    top:1250px;
    width:364px;
    height:50px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:364px;
    height:50px;
}

.u48 {
    position:absolute;
    left:2px;
    top:17px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_line {
    background-image: url('../待回答-有悬赏_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:714px;
    height:3px;
}

.u49 {
    position:absolute;
    left:50px;
    top:388px;
    width:714px;
    height:10px;
    
}

.u50 {
    position:absolute;
    left:705px;
    top:725px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:80px;
    top:749px;
    width:100px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:709px;
    top:868px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:154px;
    top:1050px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:170px;
    top:477px;
    width:82px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:158px;
    top:611px;
    width:102px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:180px;
    top:749px;
    width:112px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:80px;
    top:899px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../待回答-有悬赏_files/u31_normal.png');
}

.u58_container {
    position:absolute;
    left:296px;
    top:863px;
    width:59px;
    height:23px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:23px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:168px;
    top:899px;
    width:82px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:80px;
    top:1050px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:709px;
    top:1023px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_line {
    background-image: url('../待回答-有悬赏_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:713px;
    height:3px;
}

.u63 {
    position:absolute;
    left:51px;
    top:1145px;
    width:713px;
    height:10px;
    
}

.u64_normal {
    background-image: url('../待回答-有悬赏_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:51px;
    top:448px;
    width:20px;
    height:16px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u65 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../待回答-有悬赏_files/u64_normal.png');
}

.u66_container {
    position:absolute;
    left:51px;
    top:582px;
    width:20px;
    height:16px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u67 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../待回答-有悬赏_files/u64_normal.png');
}

.u68_container {
    position:absolute;
    left:51px;
    top:723px;
    width:20px;
    height:16px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u69 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../待回答-有悬赏_files/u64_normal.png');
}

.u70_container {
    position:absolute;
    left:51px;
    top:866px;
    width:20px;
    height:16px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../待回答-有悬赏_files/u64_normal.png');
}

.u72_container {
    position:absolute;
    left:51px;
    top:1020px;
    width:20px;
    height:16px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u73 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../待回答-有悬赏_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:80px;
    top:635px;
    width:540px;
    height:46px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:52px;
}

.u75 {
    position:absolute;
    left:2px;
    top:15px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../待回答-有悬赏_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:88px;
    top:642px;
    width:524px;
    height:30px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:530px;
    height:36px;
}

.u77 {
    position:absolute;
    left:10px;
    top:8px;
    width:512px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../待回答-有悬赏_files/u74_normal.png');
}

.u78_container {
    position:absolute;
    left:80px;
    top:777px;
    width:540px;
    height:46px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:52px;
}

.u79 {
    position:absolute;
    left:2px;
    top:15px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../待回答-有悬赏_files/u76_normal.png');
}

.u80_container {
    position:absolute;
    left:88px;
    top:784px;
    width:524px;
    height:30px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:530px;
    height:36px;
}

.u81 {
    position:absolute;
    left:10px;
    top:8px;
    width:512px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../待回答-有悬赏_files/u74_normal.png');
}

.u82_container {
    position:absolute;
    left:80px;
    top:926px;
    width:540px;
    height:46px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:52px;
}

.u83 {
    position:absolute;
    left:2px;
    top:15px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../待回答-有悬赏_files/u76_normal.png');
}

.u84_container {
    position:absolute;
    left:88px;
    top:933px;
    width:524px;
    height:30px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:530px;
    height:36px;
}

.u85 {
    position:absolute;
    left:10px;
    top:8px;
    width:512px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../待回答-有悬赏_files/u74_normal.png');
}

.u86_container {
    position:absolute;
    left:80px;
    top:1077px;
    width:540px;
    height:46px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:52px;
}

.u87 {
    position:absolute;
    left:2px;
    top:15px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../待回答-有悬赏_files/u76_normal.png');
}

.u88_container {
    position:absolute;
    left:88px;
    top:1084px;
    width:524px;
    height:30px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:530px;
    height:36px;
}

.u89 {
    position:absolute;
    left:10px;
    top:8px;
    width:512px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../回答中心右栏_files/u149_normal.png');
}

.u90_container {
    position:absolute;
    left:780px;
    top:362px;
    width:250px;
    height:435px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:441px;
}

.u91 {
    position:absolute;
    left:12px;
    top:15px;
    width:226px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../回答中心右栏_files/u151_line.png');
}

.u92_line {
    position:absolute;
    left:0px;
    top:4px;
    width:250px;
    height:3px;
}

.u92 {
    position:absolute;
    left:780px;
    top:547px;
    width:250px;
    height:10px;
    
}

.u93_normal {
    background-image: url('../回答中心右栏_files/u152_normal.png');
}

.u93_container {
    position:absolute;
    left:794px;
    top:404px;
    width:72px;
    height:68px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:68px;
}

.u94 {
    position:absolute;
    left:2px;
    top:26px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:872px;
    top:401px;
    width:134px;
    height:69px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:801px;
    top:573px;
    width:156px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:837px;
    top:627px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:953px;
    top:627px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:837px;
    top:659px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:954px;
    top:659px;
    width:35px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:837px;
    top:691px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u102_container {
    position:absolute;
    left:802px;
    top:627px;
    width:14px;
    height:14px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u103 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u104_container {
    position:absolute;
    left:802px;
    top:659px;
    width:14px;
    height:14px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u105 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:953px;
    top:691px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u107_container {
    position:absolute;
    left:802px;
    top:691px;
    width:14px;
    height:14px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u108 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:837px;
    top:724px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:953px;
    top:724px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u111_container {
    position:absolute;
    left:802px;
    top:724px;
    width:14px;
    height:14px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u112 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:837px;
    top:755px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:954px;
    top:755px;
    width:42px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u115_container {
    position:absolute;
    left:802px;
    top:756px;
    width:14px;
    height:14px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u116 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:801px;
    top:602px;
    width:191px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:793px;
    top:374px;
    width:156px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:801px;
    top:485px;
    width:225px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../回答中心右栏_files/u180_normal.png');
}

.u121_container {
    position:absolute;
    left:931px;
    top:407px;
    width:22px;
    height:11px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:11px;
}

.u122 {
    position:absolute;
    left:2px;
    top:-2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../待回答-有悬赏_files/u74_normal.png');
}

.u124_container {
    position:absolute;
    left:80px;
    top:502px;
    width:540px;
    height:46px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:52px;
}

.u125 {
    position:absolute;
    left:2px;
    top:15px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../待回答-有悬赏_files/u76_normal.png');
}

.u126_container {
    position:absolute;
    left:88px;
    top:509px;
    width:524px;
    height:30px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:530px;
    height:36px;
}

.u127 {
    position:absolute;
    left:10px;
    top:8px;
    width:512px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:51px;
    top:403px;
    width:222px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../待回答-有悬赏_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:574px;
    top:403px;
    width:140px;
    height:24px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:30px;
}

.u130 {
    position:absolute;
    left:2px;
    top:5px;
    width:136px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../待回答-有悬赏_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:714px;
    top:403px;
    width:49px;
    height:24px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:30px;
}

.u132 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../待回答-有悬赏_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:578px;
    top:405px;
    width:17px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:20px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../待回答-有悬赏_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:354px;
    top:314px;
    width:25px;
    height:16px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:22px;
}

.u136 {
    position:absolute;
    left:2px;
    top:1px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:51px;
    top:366px;
    width:249px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../待回答-有悬赏_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:854px;
    top:311px;
    width:83px;
    height:26px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:32px;
}

.u139 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../待回答-有悬赏_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:944px;
    top:311px;
    width:70px;
    height:26px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:32px;
}

.u141 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../待回答-有悬赏_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:168px;
    top:358px;
    width:287px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:287px;
    height:30px;
}

.u143 {
    position:absolute;
    left:2px;
    top:7px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:638px;
    top:366px;
    width:200px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../待回答-有悬赏_files/u41_normal.png');
}

.u146_container {
    position:absolute;
    left:494px;
    top:578px;
    width:34px;
    height:22px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:22px;
}

.u147 {
    position:absolute;
    left:2px;
    top:3px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../待回答-有悬赏_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:374px;
    top:404px;
    width:176px;
    height:22px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
}

.u149 {
    position:absolute;
    left:2px;
    top:3px;
    width:172px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../待回答-有悬赏_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:425px;
    top:1017px;
    width:47px;
    height:19px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:19px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

