body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../全局页头_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:1280px;
    height:69px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1286px;
    height:75px;
}

.u1 {
    position:absolute;
    left:2px;
    top:26px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:51px;
    top:16px;
    width:80px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../全局页头_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:331px;
    top:20px;
    width:260px;
    height:28px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:34px;
}

.u4 {
    position:absolute;
    left:2px;
    top:6px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:855px;
    top:24px;
    width:80px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../全局页头_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:935px;
    top:25px;
    width:20px;
    height:17px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:23px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:970px;
    top:24px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../全局页头_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:581px;
    top:20px;
    width:80px;
    height:28px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:131px;
    top:23px;
    width:200px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:50px;
    top:79px;
    width:199px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../new_A_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:310px;
    top:1907px;
    width:364px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:364px;
    height:50px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../标题区A_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:51px;
    top:106px;
    width:739px;
    height:83px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:745px;
    height:89px;
}

.u18 {
    position:absolute;
    left:2px;
    top:34px;
    width:735px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:133px;
    top:114px;
    width:124px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:61px;
    top:202px;
    width:125px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../标题区A_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:385px;
    top:152px;
    width:77px;
    height:23px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:29px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../标题区A_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:703px;
    top:199px;
    width:75px;
    height:23px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:29px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../标题区A_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:740px;
    height:3px;
}

.u25 {
    position:absolute;
    left:50px;
    top:226px;
    width:740px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../标题区A_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:198px;
    top:160px;
    width:5px;
    height:5px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:11px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:136px;
    top:156px;
    width:255px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../标题区A_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:61px;
    top:116px;
    width:62px;
    height:62px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:68px;
}

.u33 {
    position:absolute;
    left:2px;
    top:23px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../标题区A_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:62px;
    top:117px;
    width:60px;
    height:60px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:134px;
    top:271px;
    width:300px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:111px;
    top:247px;
    width:166px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:110px;
    top:295px;
    width:667px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:110px;
    top:352px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:679px;
    top:350px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../动态-评论在右_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u43 {
    position:absolute;
    left:59px;
    top:371px;
    width:718px;
    height:10px;
    
}

.u44_normal {
    background-image: url('../动态-评论在右_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:59px;
    top:249px;
    width:40px;
    height:40px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:137px;
    top:422px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:110px;
    top:397px;
    width:129px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:137px;
    top:447px;
    width:640px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:110px;
    top:499px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:680px;
    top:499px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../动态-评论在右_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:59px;
    top:399px;
    width:40px;
    height:40px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u53 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../动态-评论在右_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:732px;
    top:346px;
    width:37px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_line {
    background-image: url('../动态-评论在右_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u56 {
    position:absolute;
    left:59px;
    top:520px;
    width:718px;
    height:10px;
    
}

.u57 {
    position:absolute;
    left:138px;
    top:574px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:111px;
    top:548px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:138px;
    top:599px;
    width:639px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:110px;
    top:653px;
    width:64px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:680px;
    top:650px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../动态-评论在右_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:59px;
    top:550px;
    width:40px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../动态-评论在右_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u65 {
    position:absolute;
    left:59px;
    top:672px;
    width:718px;
    height:10px;
    
}

.u66 {
    position:absolute;
    left:111px;
    top:719px;
    width:637px;
    height:104px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:128px;
    top:699px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:110px;
    top:828px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_line {
    background-image: url('../动态-评论在右_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u69 {
    position:absolute;
    left:59px;
    top:844px;
    width:718px;
    height:10px;
    
}

.u70 {
    position:absolute;
    left:112px;
    top:898px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:128px;
    top:872px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:110px;
    top:921px;
    width:539px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:110px;
    top:976px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../动态-评论在右_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:59px;
    top:873px;
    width:40px;
    height:40px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u76 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../动态-评论在右_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:669px;
    top:909px;
    width:90px;
    height:63px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:63px;
}

.u78 {
    position:absolute;
    left:2px;
    top:24px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../动态-评论在右_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u79 {
    position:absolute;
    left:59px;
    top:997px;
    width:718px;
    height:10px;
    
}

.u80 {
    position:absolute;
    left:138px;
    top:1049px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:111px;
    top:1025px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:138px;
    top:1075px;
    width:646px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:110px;
    top:1107px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:681px;
    top:1104px;
    width:34px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../动态-评论在右_files/u52_normal.png');
}

.u86_container {
    position:absolute;
    left:60px;
    top:1027px;
    width:40px;
    height:40px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u87 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../动态-评论在右_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:730px;
    top:496px;
    width:24px;
    height:18px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u89 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../动态-评论在右_files/u88_normal.png');
}

.u90_container {
    position:absolute;
    left:730px;
    top:647px;
    width:24px;
    height:18px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u91 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../动态-评论在右_files/u88_normal.png');
}

.u92_container {
    position:absolute;
    left:729px;
    top:1101px;
    width:24px;
    height:18px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u93 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_line {
    background-image: url('../动态-评论在右_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u94 {
    position:absolute;
    left:59px;
    top:1127px;
    width:718px;
    height:10px;
    
}

.u95 {
    position:absolute;
    left:138px;
    top:1182px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:110px;
    top:1156px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:139px;
    top:1207px;
    width:638px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:110px;
    top:1261px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:680px;
    top:1256px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_line {
    background-image: url('../动态-评论在右_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u101 {
    position:absolute;
    left:59px;
    top:1279px;
    width:718px;
    height:10px;
    
}

.u102 {
    position:absolute;
    left:138px;
    top:1334px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:110px;
    top:1309px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:110px;
    top:1356px;
    width:646px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:110px;
    top:1409px;
    width:72px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:679px;
    top:1405px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../动态-评论在右_files/u88_normal.png');
}

.u108_container {
    position:absolute;
    left:729px;
    top:1401px;
    width:24px;
    height:18px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u109 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_line {
    background-image: url('../动态-评论在右_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u110 {
    position:absolute;
    left:59px;
    top:1428px;
    width:718px;
    height:10px;
    
}

.u111_normal {
    background-image: url('../动态-评论在右_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:59px;
    top:1155px;
    width:40px;
    height:40px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u112 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../动态-评论在右_files/u88_normal.png');
}

.u113_container {
    position:absolute;
    left:730px;
    top:1255px;
    width:24px;
    height:18px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u114 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../动态-评论在右_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:59px;
    top:1309px;
    width:40px;
    height:40px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u116 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../动态-评论在右_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:60px;
    top:1843px;
    width:717px;
    height:37px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:723px;
    height:43px;
}

.u118 {
    position:absolute;
    left:2px;
    top:10px;
    width:713px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:138px;
    top:1484px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:111px;
    top:1458px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:111px;
    top:1505px;
    width:646px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:110px;
    top:1555px;
    width:72px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:680px;
    top:1555px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../动态-评论在右_files/u63_normal.png');
}

.u125_container {
    position:absolute;
    left:59px;
    top:1460px;
    width:40px;
    height:40px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u126 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_line {
    background-image: url('../动态-评论在右_files/u127_line.png');
}

.u127_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u127 {
    position:absolute;
    left:59px;
    top:1574px;
    width:718px;
    height:10px;
    
}

.u128 {
    position:absolute;
    left:112px;
    top:1622px;
    width:637px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:128px;
    top:1598px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:110px;
    top:1683px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../动态-评论在右_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:728px;
    top:1550px;
    width:44px;
    height:21px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:21px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../动态-评论在右_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:59px;
    top:1598px;
    width:40px;
    height:40px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u134 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_line {
    background-image: url('../动态-评论在右_files/u135_line.png');
}

.u135_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u135 {
    position:absolute;
    left:59px;
    top:1703px;
    width:718px;
    height:10px;
    
}

.u136 {
    position:absolute;
    left:110px;
    top:1730px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../动态-评论在右_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:110px;
    top:1758px;
    width:30px;
    height:30px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u138 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../动态-评论在右_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:151px;
    top:1758px;
    width:30px;
    height:30px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u140 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../动态-评论在右_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:194px;
    top:1758px;
    width:30px;
    height:30px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u142 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:110px;
    top:1799px;
    width:79px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../动态-评论在右_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:60px;
    top:1731px;
    width:40px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../动态-评论在右_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:62px;
    top:1733px;
    width:38px;
    height:38px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:38px;
}

.u147 {
    position:absolute;
    left:2px;
    top:11px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../动态-评论在右_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:544px;
    top:1485px;
    width:19px;
    height:14px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:14px;
}

.u149 {
    position:absolute;
    left:2px;
    top:-1px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../动态-评论在右_files/u148_normal.png');
}

.u150_container {
    position:absolute;
    left:477px;
    top:575px;
    width:19px;
    height:14px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:14px;
}

.u151 {
    position:absolute;
    left:2px;
    top:-1px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_container {
    position:absolute;
    left:110px;
    top:272px;
    width:16px;
    height:16px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u153 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../动态-评论在右_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:111px;
    top:423px;
    width:16px;
    height:16px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u155 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../动态-评论在右_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:110px;
    top:450px;
    width:16px;
    height:16px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u157 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../动态-评论在右_files/u154_normal.png');
}

.u158_container {
    position:absolute;
    left:111px;
    top:575px;
    width:16px;
    height:16px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u159 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../动态-评论在右_files/u156_normal.png');
}

.u160_container {
    position:absolute;
    left:110px;
    top:602px;
    width:16px;
    height:16px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u161 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../动态-评论在右_files/u154_normal.png');
}

.u162_container {
    position:absolute;
    left:111px;
    top:1050px;
    width:16px;
    height:16px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u163 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../动态-评论在右_files/u156_normal.png');
}

.u164_container {
    position:absolute;
    left:110px;
    top:1077px;
    width:16px;
    height:16px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u165 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../动态-评论在右_files/u154_normal.png');
}

.u166_container {
    position:absolute;
    left:111px;
    top:1183px;
    width:16px;
    height:16px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u167 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../动态-评论在右_files/u156_normal.png');
}

.u168_container {
    position:absolute;
    left:110px;
    top:1210px;
    width:16px;
    height:16px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u169 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_container {
    position:absolute;
    left:111px;
    top:1335px;
    width:16px;
    height:16px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u171 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_container {
    position:absolute;
    left:111px;
    top:1485px;
    width:16px;
    height:16px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u173 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../动态-评论在右_files/u174_normal.png');
}

.u174_container {
    position:absolute;
    left:111px;
    top:700px;
    width:17px;
    height:15px;
}

#u174_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:15px;
}

.u175 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../动态-评论在右_files/u174_normal.png');
}

.u176_container {
    position:absolute;
    left:111px;
    top:872px;
    width:17px;
    height:15px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:15px;
}

.u177 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../动态-评论在右_files/u178_normal.png');
}

.u178_container {
    position:absolute;
    left:59px;
    top:700px;
    width:40px;
    height:40px;
}

#u178_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u179 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../动态-评论在右_files/u174_normal.png');
}

.u180_container {
    position:absolute;
    left:110px;
    top:1598px;
    width:17px;
    height:15px;
}

#u180_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:15px;
}

.u181 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_line {
    background-image: url('../动态-评论在右_files/u182_line.png');
}

.u182_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u182 {
    position:absolute;
    left:59px;
    top:1817px;
    width:718px;
    height:10px;
    
}

.u184_normal {
    background-image: url('../右栏A_files/u184_normal.png');
}

.u184_container {
    position:absolute;
    left:800px;
    top:106px;
    width:230px;
    height:815px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:821px;
}

.u185 {
    position:absolute;
    left:12px;
    top:15px;
    width:206px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:817px;
    top:117px;
    width:90px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_line {
    background-image: url('../右栏A_files/u187_line.png');
}

.u187_line {
    position:absolute;
    left:0px;
    top:4px;
    width:230px;
    height:3px;
}

.u187 {
    position:absolute;
    left:800px;
    top:263px;
    width:230px;
    height:10px;
    
}

.u188 {
    position:absolute;
    left:818px;
    top:211px;
    width:200px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:817px;
    top:861px;
    width:200px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:861px;
    top:406px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:817px;
    top:497px;
    width:156px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../右栏A_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:842px;
    top:533px;
    width:40px;
    height:40px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u193 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:892px;
    top:533px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:892px;
    top:559px;
    width:106px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../右栏A_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:842px;
    top:603px;
    width:40px;
    height:40px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u197 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:892px;
    top:603px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:892px;
    top:627px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:892px;
    top:669px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../右栏A_files/u201_normal.png');
}

.u201_container {
    position:absolute;
    left:842px;
    top:669px;
    width:40px;
    height:40px;
}

#u201_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u202 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../右栏A_files/u203_normal.png');
}

.u203_container {
    position:absolute;
    left:818px;
    top:533px;
    width:14px;
    height:14px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u204 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../右栏A_files/u203_normal.png');
}

.u205_container {
    position:absolute;
    left:818px;
    top:601px;
    width:14px;
    height:14px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u206 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:892px;
    top:693px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../右栏A_files/u203_normal.png');
}

.u208_container {
    position:absolute;
    left:818px;
    top:667px;
    width:14px;
    height:14px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u209 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:839px;
    top:241px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../右栏A_files/u211_normal.png');
}

.u211_container {
    position:absolute;
    left:818px;
    top:241px;
    width:16px;
    height:16px;
}

#u211_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u212 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213_line {
    background-image: url('../右栏A_files/u213_line.png');
}

.u213_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u213 {
    position:absolute;
    left:818px;
    top:191px;
    width:200px;
    height:10px;
    
}

.u214 {
    position:absolute;
    left:817px;
    top:145px;
    width:211px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:817px;
    top:283px;
    width:90px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:817px;
    top:308px;
    width:200px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_line {
    background-image: url('../右栏A_files/u217_line.png');
}

.u217_line {
    position:absolute;
    left:0px;
    top:4px;
    width:229px;
    height:3px;
}

.u217 {
    position:absolute;
    left:801px;
    top:473px;
    width:229px;
    height:10px;
    
}

.u218 {
    position:absolute;
    left:892px;
    top:729px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:892px;
    top:753px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../右栏A_files/u203_normal.png');
}

.u220_container {
    position:absolute;
    left:818px;
    top:729px;
    width:14px;
    height:14px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u221 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:892px;
    top:791px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:892px;
    top:815px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../右栏A_files/u203_normal.png');
}

.u224_container {
    position:absolute;
    left:818px;
    top:792px;
    width:14px;
    height:14px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u225 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../右栏A_files/u226_normal.png');
}

.u226_container {
    position:absolute;
    left:842px;
    top:729px;
    width:40px;
    height:40px;
}

#u226_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u227 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../右栏A_files/u228_normal.png');
}

.u228_container {
    position:absolute;
    left:842px;
    top:791px;
    width:40px;
    height:40px;
}

#u228_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u229 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../右栏A_files/u230_normal.png');
}

.u230_container {
    position:absolute;
    left:818px;
    top:440px;
    width:126px;
    height:20px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u231 {
    position:absolute;
    left:8px;
    top:3px;
    width:116px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../右栏A_files/u232_normal.png');
}

.u232_container {
    position:absolute;
    left:954px;
    top:440px;
    width:62px;
    height:20px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u233 {
    position:absolute;
    left:2px;
    top:3px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_line {
    background-image: url('../右栏A_files/u234_line.png');
}

.u234_line {
    position:absolute;
    left:0px;
    top:4px;
    width:229px;
    height:3px;
}

.u234 {
    position:absolute;
    left:802px;
    top:841px;
    width:229px;
    height:10px;
    
}

