body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../首页-我要订餐_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:92px;
    width:1000px;
    height:58px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:64px;
}

.u1 {
    position:absolute;
    left:2px;
    top:21px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:104px;
    top:183px;
    width:472px;
    height:194px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:200px;
}

.u3 {
    position:absolute;
    left:2px;
    top:89px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../首页-我要订餐_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:5px;
    width:1200px;
    height:81px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:87px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:167px;
    top:27px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:169px;
    top:59px;
    width:95px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../首页-我要订餐_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:116px;
    top:27px;
    width:48px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:920px;
    top:15px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../首页-我要订餐_files/tab_u11_mouseOver.png');
}

.u11_mouseDown {
    background-image: url('../首页-我要订餐_files/tab_u11_mouseDown.png');
}

.u11_disabled {
    background-image: url('../首页-我要订餐_files/tab_u11_disabled.png');
}

.u11_normal {
    background-image: url('../首页-我要订餐_files/tab_u11_disabled.png');
}

.u11_container {
    position:absolute;
    left:605px;
    top:38px;
    width:122px;
    height:42px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:48px;
}

.u12 {
    position:absolute;
    left:2px;
    top:9px;
    width:118px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../首页-我要订餐_files/tab_u13_mouseOver.png');
}

.u13_mouseDown {
    background-image: url('../首页-我要订餐_files/tab_u13_mouseDown.png');
}

.u13_disabled {
    background-image: url('../首页-我要订餐_files/tab_u13_disabled.png');
}

.u13_normal {
    background-image: url('../首页-我要订餐_files/tab_u13_disabled.png');
}

.u13_container {
    position:absolute;
    left:459px;
    top:38px;
    width:134px;
    height:42px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:48px;
}

.u14 {
    position:absolute;
    left:2px;
    top:9px;
    width:130px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../首页-我要订餐_files/tab_u16_mouseOver.png');
}

.u16_mouseDown {
    background-image: url('../首页-我要订餐_files/tab_u16_mouseDown.png');
}

.u16_disabled {
    background-image: url('../首页-我要订餐_files/tab_u16_disabled.png');
}

.u16_normal {
    background-image: url('../首页-我要订餐_files/tab_u16_disabled.png');
}

.u16_container {
    position:absolute;
    left:316px;
    top:36px;
    width:128px;
    height:45px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:51px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:124px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../首页-我要订餐_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:325px;
    top:45px;
    width:30px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../首页-我要订餐_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:613px;
    top:44px;
    width:30px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../首页-我要订餐_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:466px;
    top:48px;
    width:25px;
    height:26px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../首页-我要订餐_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:318px;
    height:3px;
}

.u24 {
    position:absolute;
    left:0px;
    top:76px;
    width:318px;
    height:10px;
    
}

.u25_line {
    background-image: url('../首页-我要订餐_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:756px;
    height:3px;
}

.u25 {
    position:absolute;
    left:444px;
    top:76px;
    width:756px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../首页-我要订餐_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:566px;
    top:31px;
    width:21px;
    height:19px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:25px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../首页-我要订餐_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:242px;
    top:102px;
    width:95px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:46px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:91px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../首页-我要订餐_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:356px;
    top:102px;
    width:87px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../首页-我要订餐_files/u26_normal.png');
}

.u32_container {
    position:absolute;
    left:315px;
    top:93px;
    width:21px;
    height:19px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:25px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../首页-我要订餐_files/u30_normal.png');
}

.u34_container {
    position:absolute;
    left:465px;
    top:101px;
    width:87px;
    height:40px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../首页-我要订餐_files/u30_normal.png');
}

.u36_container {
    position:absolute;
    left:574px;
    top:101px;
    width:87px;
    height:40px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:913px;
    top:113px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:115px;
    top:158px;
    width:275px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:671px;
    top:125px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:756px;
    top:46px;
    width:173px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../首页-我要订餐_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:114px;
    top:343px;
    width:106px;
    height:23px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:246px;
    top:348px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../首页-我要订餐_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:396px;
    top:247px;
    width:166px;
    height:28px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u47_mouseOver.png');
}

.u47_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u47_mouseDown.png');
}

.u47_disabled {
    background-image: url('../首页-我要订餐_files/button_u47_disabled.png');
}

.u47_normal {
    background-image: url('../首页-我要订餐_files/button_u47_normal.png');
}

.u47_container {
    position:absolute;
    left:497px;
    top:345px;
    width:58px;
    height:24px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_line {
    background-image: url('../首页-我要订餐_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u49 {
    position:absolute;
    left:499px;
    top:363px;
    width:54px;
    height:10px;
    
}

.u50_normal {
    background-image: url('../首页-我要订餐_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:105px;
    top:187px;
    width:468px;
    height:55px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:61px;
}

.u51 {
    position:absolute;
    left:2px;
    top:20px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:171px;
    top:197px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../首页-我要订餐_files/image_u53_normal.png');
}

.u53_container {
    position:absolute;
    left:116px;
    top:197px;
    width:46px;
    height:46px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u54 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:171px;
    top:223px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:114px;
    top:259px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:116px;
    top:295px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_line {
    background-image: url('../首页-我要订餐_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:0px;
    top:4px;
    width:453px;
    height:3px;
}

.u58 {
    position:absolute;
    left:116px;
    top:278px;
    width:453px;
    height:10px;
    
}

.u59_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u59_container {
    position:absolute;
    left:621px;
    top:183px;
    width:472px;
    height:194px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:200px;
}

.u60 {
    position:absolute;
    left:2px;
    top:89px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../首页-我要订餐_files/u42_normal.png');
}

.u61_container {
    position:absolute;
    left:631px;
    top:344px;
    width:106px;
    height:23px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:763px;
    top:350px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../首页-我要订餐_files/u45_normal.png');
}

.u64_container {
    position:absolute;
    left:913px;
    top:247px;
    width:166px;
    height:28px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u65 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u47_mouseOver.png');
}

.u66_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u47_mouseDown.png');
}

.u66_disabled {
    background-image: url('../首页-我要订餐_files/button_u47_disabled.png');
}

.u66_normal {
    background-image: url('../首页-我要订餐_files/button_u47_normal.png');
}

.u66_container {
    position:absolute;
    left:1014px;
    top:342px;
    width:58px;
    height:24px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../首页-我要订餐_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u68 {
    position:absolute;
    left:1016px;
    top:360px;
    width:54px;
    height:10px;
    
}

.u69_normal {
    background-image: url('../首页-我要订餐_files/u50_normal.png');
}

.u69_container {
    position:absolute;
    left:622px;
    top:187px;
    width:468px;
    height:55px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:61px;
}

.u70 {
    position:absolute;
    left:2px;
    top:20px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:688px;
    top:197px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../首页-我要订餐_files/image_u53_normal.png');
}

.u72_container {
    position:absolute;
    left:633px;
    top:197px;
    width:46px;
    height:46px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u73 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:688px;
    top:223px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:633px;
    top:295px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_line {
    background-image: url('../首页-我要订餐_files/u76_line.png');
}

.u76_line {
    position:absolute;
    left:0px;
    top:4px;
    width:453px;
    height:3px;
}

.u76 {
    position:absolute;
    left:633px;
    top:278px;
    width:453px;
    height:10px;
    
}

.u77 {
    position:absolute;
    left:633px;
    top:259px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u78_container {
    position:absolute;
    left:104px;
    top:394px;
    width:472px;
    height:194px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:200px;
}

.u79 {
    position:absolute;
    left:2px;
    top:89px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../首页-我要订餐_files/u42_normal.png');
}

.u80_container {
    position:absolute;
    left:114px;
    top:554px;
    width:106px;
    height:23px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:246px;
    top:559px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../首页-我要订餐_files/u45_normal.png');
}

.u83_container {
    position:absolute;
    left:396px;
    top:458px;
    width:166px;
    height:28px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u84 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u47_mouseOver.png');
}

.u85_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u47_mouseDown.png');
}

.u85_disabled {
    background-image: url('../首页-我要订餐_files/button_u47_disabled.png');
}

.u85_normal {
    background-image: url('../首页-我要订餐_files/button_u47_normal.png');
}

.u85_container {
    position:absolute;
    left:497px;
    top:556px;
    width:58px;
    height:24px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../首页-我要订餐_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u87 {
    position:absolute;
    left:499px;
    top:574px;
    width:54px;
    height:10px;
    
}

.u88_normal {
    background-image: url('../首页-我要订餐_files/u50_normal.png');
}

.u88_container {
    position:absolute;
    left:105px;
    top:398px;
    width:468px;
    height:55px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:61px;
}

.u89 {
    position:absolute;
    left:2px;
    top:20px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:171px;
    top:408px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../首页-我要订餐_files/image_u53_normal.png');
}

.u91_container {
    position:absolute;
    left:116px;
    top:408px;
    width:46px;
    height:46px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u92 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:171px;
    top:434px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:114px;
    top:470px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:116px;
    top:506px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_line {
    background-image: url('../首页-我要订餐_files/u96_line.png');
}

.u96_line {
    position:absolute;
    left:0px;
    top:4px;
    width:453px;
    height:3px;
}

.u96 {
    position:absolute;
    left:116px;
    top:489px;
    width:453px;
    height:10px;
    
}

.u97_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u97_container {
    position:absolute;
    left:621px;
    top:394px;
    width:472px;
    height:194px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:200px;
}

.u98 {
    position:absolute;
    left:2px;
    top:89px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../首页-我要订餐_files/u42_normal.png');
}

.u99_container {
    position:absolute;
    left:631px;
    top:555px;
    width:106px;
    height:23px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u100 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:763px;
    top:561px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../首页-我要订餐_files/u45_normal.png');
}

.u102_container {
    position:absolute;
    left:913px;
    top:458px;
    width:166px;
    height:28px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u103 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u47_mouseOver.png');
}

.u104_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u47_mouseDown.png');
}

.u104_disabled {
    background-image: url('../首页-我要订餐_files/button_u47_disabled.png');
}

.u104_normal {
    background-image: url('../首页-我要订餐_files/button_u47_normal.png');
}

.u104_container {
    position:absolute;
    left:1014px;
    top:553px;
    width:58px;
    height:24px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_line {
    background-image: url('../首页-我要订餐_files/u106_line.png');
}

.u106_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u106 {
    position:absolute;
    left:1016px;
    top:571px;
    width:54px;
    height:10px;
    
}

.u107_normal {
    background-image: url('../首页-我要订餐_files/u50_normal.png');
}

.u107_container {
    position:absolute;
    left:622px;
    top:398px;
    width:468px;
    height:55px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:61px;
}

.u108 {
    position:absolute;
    left:2px;
    top:20px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:688px;
    top:408px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../首页-我要订餐_files/image_u53_normal.png');
}

.u110_container {
    position:absolute;
    left:633px;
    top:408px;
    width:46px;
    height:46px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u111 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:688px;
    top:434px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:633px;
    top:506px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_line {
    background-image: url('../首页-我要订餐_files/u114_line.png');
}

.u114_line {
    position:absolute;
    left:0px;
    top:4px;
    width:453px;
    height:3px;
}

.u114 {
    position:absolute;
    left:633px;
    top:489px;
    width:453px;
    height:10px;
    
}

.u115 {
    position:absolute;
    left:633px;
    top:470px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u116_container {
    position:absolute;
    left:104px;
    top:604px;
    width:472px;
    height:194px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:200px;
}

.u117 {
    position:absolute;
    left:2px;
    top:89px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../首页-我要订餐_files/u42_normal.png');
}

.u118_container {
    position:absolute;
    left:114px;
    top:764px;
    width:106px;
    height:23px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u119 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:246px;
    top:769px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../首页-我要订餐_files/u45_normal.png');
}

.u121_container {
    position:absolute;
    left:396px;
    top:668px;
    width:166px;
    height:28px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u122 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u47_mouseOver.png');
}

.u123_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u47_mouseDown.png');
}

.u123_disabled {
    background-image: url('../首页-我要订餐_files/button_u47_disabled.png');
}

.u123_normal {
    background-image: url('../首页-我要订餐_files/button_u47_normal.png');
}

.u123_container {
    position:absolute;
    left:497px;
    top:766px;
    width:58px;
    height:24px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_line {
    background-image: url('../首页-我要订餐_files/u125_line.png');
}

.u125_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u125 {
    position:absolute;
    left:499px;
    top:784px;
    width:54px;
    height:10px;
    
}

.u126_normal {
    background-image: url('../首页-我要订餐_files/u50_normal.png');
}

.u126_container {
    position:absolute;
    left:105px;
    top:608px;
    width:468px;
    height:55px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:61px;
}

.u127 {
    position:absolute;
    left:2px;
    top:20px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:171px;
    top:618px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../首页-我要订餐_files/image_u53_normal.png');
}

.u129_container {
    position:absolute;
    left:116px;
    top:618px;
    width:46px;
    height:46px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u130 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:171px;
    top:644px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:114px;
    top:680px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:116px;
    top:716px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_line {
    background-image: url('../首页-我要订餐_files/u134_line.png');
}

.u134_line {
    position:absolute;
    left:0px;
    top:4px;
    width:453px;
    height:3px;
}

.u134 {
    position:absolute;
    left:116px;
    top:699px;
    width:453px;
    height:10px;
    
}

.u135_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u135_container {
    position:absolute;
    left:621px;
    top:604px;
    width:472px;
    height:194px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:200px;
}

.u136 {
    position:absolute;
    left:2px;
    top:89px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../首页-我要订餐_files/u42_normal.png');
}

.u137_container {
    position:absolute;
    left:631px;
    top:765px;
    width:106px;
    height:23px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u138 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:763px;
    top:771px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../首页-我要订餐_files/u45_normal.png');
}

.u140_container {
    position:absolute;
    left:913px;
    top:668px;
    width:166px;
    height:28px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u141 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u47_mouseOver.png');
}

.u142_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u47_mouseDown.png');
}

.u142_disabled {
    background-image: url('../首页-我要订餐_files/button_u47_disabled.png');
}

.u142_normal {
    background-image: url('../首页-我要订餐_files/button_u47_normal.png');
}

.u142_container {
    position:absolute;
    left:1014px;
    top:763px;
    width:58px;
    height:24px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_line {
    background-image: url('../首页-我要订餐_files/u144_line.png');
}

.u144_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u144 {
    position:absolute;
    left:1016px;
    top:781px;
    width:54px;
    height:10px;
    
}

.u145_normal {
    background-image: url('../首页-我要订餐_files/u50_normal.png');
}

.u145_container {
    position:absolute;
    left:622px;
    top:608px;
    width:468px;
    height:55px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:61px;
}

.u146 {
    position:absolute;
    left:2px;
    top:20px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:688px;
    top:618px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../首页-我要订餐_files/image_u53_normal.png');
}

.u148_container {
    position:absolute;
    left:633px;
    top:618px;
    width:46px;
    height:46px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u149 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:688px;
    top:644px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:633px;
    top:716px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_line {
    background-image: url('../首页-我要订餐_files/u152_line.png');
}

.u152_line {
    position:absolute;
    left:0px;
    top:4px;
    width:453px;
    height:3px;
}

.u152 {
    position:absolute;
    left:633px;
    top:699px;
    width:453px;
    height:10px;
    
}

.u153 {
    position:absolute;
    left:633px;
    top:680px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../首页-我要订餐_files/u30_normal.png');
}

.u154_container {
    position:absolute;
    left:145px;
    top:101px;
    width:87px;
    height:40px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u155 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_line {
    background-image: url('../首页-我要订餐_files/u156_line.png');
}

.u156_line {
    position:absolute;
    left:0px;
    top:4px;
    width:988px;
    height:3px;
}

.u156 {
    position:absolute;
    left:105px;
    top:821px;
    width:988px;
    height:10px;
    
}

.u157 {
    position:absolute;
    left:171px;
    top:836px;
    width:543px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

