body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../首页-我要订餐_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:102px;
    top:92px;
    width:833px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:839px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:829px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:102px;
    top:177px;
    width:409px;
    height:230px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:415px;
    height:236px;
}

.u3 {
    position:absolute;
    left:2px;
    top:107px;
    width:405px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../首页-我要订餐_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:5px;
    width:1200px;
    height:81px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:87px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:167px;
    top:27px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:169px;
    top:59px;
    width:95px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../首页-我要订餐_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:116px;
    top:27px;
    width:48px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:790px;
    top:15px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../首页-我要订餐_files/tab_u11_mouseOver.png');
}

.u11_mouseDown {
    background-image: url('../首页-我要订餐_files/tab_u11_mouseDown.png');
}

.u11_disabled {
    background-image: url('../首页-我要订餐_files/tab_u11_disabled.png');
}

.u11_normal {
    background-image: url('../首页-我要订餐_files/tab_u11_disabled.png');
}

.u11_container {
    position:absolute;
    left:605px;
    top:38px;
    width:122px;
    height:42px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:48px;
}

.u12 {
    position:absolute;
    left:2px;
    top:9px;
    width:118px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../首页-我要订餐_files/tab_u13_mouseOver.png');
}

.u13_mouseDown {
    background-image: url('../首页-我要订餐_files/tab_u13_mouseDown.png');
}

.u13_disabled {
    background-image: url('../首页-我要订餐_files/tab_u13_disabled.png');
}

.u13_normal {
    background-image: url('../首页-我要订餐_files/tab_u13_disabled.png');
}

.u13_container {
    position:absolute;
    left:459px;
    top:38px;
    width:134px;
    height:42px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:140px;
    height:48px;
}

.u14 {
    position:absolute;
    left:2px;
    top:9px;
    width:130px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseOver {
    background-image: url('../首页-我要订餐_files/tab_u15_mouseOver.png');
}

.u15_mouseDown {
    background-image: url('../首页-我要订餐_files/tab_u15_mouseDown.png');
}

.u15_disabled {
    background-image: url('../首页-我要订餐_files/tab_u15_disabled.png');
}

.u15_normal {
    background-image: url('../首页-我要订餐_files/tab_u15_disabled.png');
}

.u15_container {
    position:absolute;
    left:316px;
    top:36px;
    width:128px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:124px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../首页-我要订餐_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:325px;
    top:45px;
    width:30px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../首页-我要订餐_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:613px;
    top:44px;
    width:30px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../首页-我要订餐_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:466px;
    top:48px;
    width:25px;
    height:26px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:5px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../首页-我要订餐_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:318px;
    height:3px;
}

.u23 {
    position:absolute;
    left:0px;
    top:76px;
    width:318px;
    height:10px;
    
}

.u24_line {
    background-image: url('../首页-我要订餐_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:756px;
    height:3px;
}

.u24 {
    position:absolute;
    left:444px;
    top:76px;
    width:756px;
    height:10px;
    
}

.u25_normal {
    background-image: url('../首页-我要订餐_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:566px;
    top:31px;
    width:21px;
    height:19px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:25px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../首页-我要订餐_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:202px;
    top:102px;
    width:95px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:91px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../首页-我要订餐_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:316px;
    top:102px;
    width:87px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../首页-我要订餐_files/u25_normal.png');
}

.u31_container {
    position:absolute;
    left:275px;
    top:93px;
    width:21px;
    height:19px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:25px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../首页-我要订餐_files/u29_normal.png');
}

.u33_container {
    position:absolute;
    left:425px;
    top:101px;
    width:87px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../首页-我要订餐_files/u29_normal.png');
}

.u35_container {
    position:absolute;
    left:534px;
    top:101px;
    width:87px;
    height:40px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:861px;
    top:113px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:115px;
    top:156px;
    width:275px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:631px;
    top:125px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_container {
    position:absolute;
    left:122px;
    top:209px;
    width:127px;
    height:139px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:139px;
}

.u41 {
    position:absolute;
    left:2px;
    top:62px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:122px;
    top:185px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:259px;
    top:210px;
    width:246px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../首页-我要订餐_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:122px;
    top:353px;
    width:106px;
    height:23px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:126px;
    top:376px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../首页-我要订餐_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:252px;
    top:359px;
    width:166px;
    height:28px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u48 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u49_mouseOver.png');
}

.u49_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u49_mouseDown.png');
}

.u49_disabled {
    background-image: url('../首页-我要订餐_files/button_u49_disabled.png');
}

.u49_normal {
    background-image: url('../首页-我要订餐_files/button_u49_normal.png');
}

.u49_container {
    position:absolute;
    left:428px;
    top:362px;
    width:58px;
    height:24px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../首页-我要订餐_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u51 {
    position:absolute;
    left:430px;
    top:381px;
    width:54px;
    height:10px;
    
}

.u52_normal {
    background-image: url('../首页-我要订餐_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:526px;
    top:176px;
    width:409px;
    height:230px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:415px;
    height:236px;
}

.u53 {
    position:absolute;
    left:2px;
    top:107px;
    width:405px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:546px;
    top:184px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:683px;
    top:209px;
    width:246px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:551px;
    top:371px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_container {
    position:absolute;
    left:546px;
    top:210px;
    width:119px;
    height:133px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:133px;
}

.u58 {
    position:absolute;
    left:2px;
    top:58px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../首页-我要订餐_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:547px;
    top:350px;
    width:110px;
    height:19px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:19px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u49_mouseOver.png');
}

.u61_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u49_mouseDown.png');
}

.u61_disabled {
    background-image: url('../首页-我要订餐_files/button_u49_disabled.png');
}

.u61_normal {
    background-image: url('../首页-我要订餐_files/button_u49_normal.png');
}

.u61_container {
    position:absolute;
    left:852px;
    top:361px;
    width:58px;
    height:24px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_line {
    background-image: url('../首页-我要订餐_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u63 {
    position:absolute;
    left:854px;
    top:380px;
    width:54px;
    height:10px;
    
}

.u64_normal {
    background-image: url('../首页-我要订餐_files/u47_normal.png');
}

.u64_container {
    position:absolute;
    left:667px;
    top:361px;
    width:166px;
    height:28px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u65 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u66_container {
    position:absolute;
    left:102px;
    top:420px;
    width:409px;
    height:230px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:415px;
    height:236px;
}

.u67 {
    position:absolute;
    left:2px;
    top:107px;
    width:405px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_container {
    position:absolute;
    left:122px;
    top:452px;
    width:127px;
    height:139px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:139px;
}

.u69 {
    position:absolute;
    left:2px;
    top:62px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:122px;
    top:428px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:259px;
    top:453px;
    width:246px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../首页-我要订餐_files/u44_normal.png');
}

.u72_container {
    position:absolute;
    left:122px;
    top:596px;
    width:106px;
    height:23px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:126px;
    top:619px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../首页-我要订餐_files/u47_normal.png');
}

.u75_container {
    position:absolute;
    left:252px;
    top:602px;
    width:166px;
    height:28px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u76 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u49_mouseOver.png');
}

.u77_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u49_mouseDown.png');
}

.u77_disabled {
    background-image: url('../首页-我要订餐_files/button_u49_disabled.png');
}

.u77_normal {
    background-image: url('../首页-我要订餐_files/button_u49_normal.png');
}

.u77_container {
    position:absolute;
    left:428px;
    top:605px;
    width:58px;
    height:24px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../首页-我要订餐_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u79 {
    position:absolute;
    left:430px;
    top:624px;
    width:54px;
    height:10px;
    
}

.u80_normal {
    background-image: url('../首页-我要订餐_files/u52_normal.png');
}

.u80_container {
    position:absolute;
    left:526px;
    top:419px;
    width:409px;
    height:230px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:415px;
    height:236px;
}

.u81 {
    position:absolute;
    left:2px;
    top:107px;
    width:405px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:546px;
    top:427px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:683px;
    top:452px;
    width:246px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:551px;
    top:614px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_container {
    position:absolute;
    left:546px;
    top:453px;
    width:119px;
    height:133px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:133px;
}

.u86 {
    position:absolute;
    left:2px;
    top:58px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../首页-我要订餐_files/u59_normal.png');
}

.u87_container {
    position:absolute;
    left:547px;
    top:593px;
    width:110px;
    height:19px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:19px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u49_mouseOver.png');
}

.u89_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u49_mouseDown.png');
}

.u89_disabled {
    background-image: url('../首页-我要订餐_files/button_u49_disabled.png');
}

.u89_normal {
    background-image: url('../首页-我要订餐_files/button_u49_normal.png');
}

.u89_container {
    position:absolute;
    left:852px;
    top:604px;
    width:58px;
    height:24px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_line {
    background-image: url('../首页-我要订餐_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u91 {
    position:absolute;
    left:854px;
    top:623px;
    width:54px;
    height:10px;
    
}

.u92_normal {
    background-image: url('../首页-我要订餐_files/u47_normal.png');
}

.u92_container {
    position:absolute;
    left:667px;
    top:604px;
    width:166px;
    height:28px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u93 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../首页-我要订餐_files/u2_normal.png');
}

.u94_container {
    position:absolute;
    left:102px;
    top:667px;
    width:409px;
    height:230px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:415px;
    height:236px;
}

.u95 {
    position:absolute;
    left:2px;
    top:107px;
    width:405px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_container {
    position:absolute;
    left:122px;
    top:699px;
    width:127px;
    height:139px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:139px;
}

.u97 {
    position:absolute;
    left:2px;
    top:62px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:122px;
    top:675px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:259px;
    top:700px;
    width:246px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../首页-我要订餐_files/u44_normal.png');
}

.u100_container {
    position:absolute;
    left:122px;
    top:843px;
    width:106px;
    height:23px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:23px;
}

.u101 {
    position:absolute;
    left:2px;
    top:4px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:126px;
    top:866px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../首页-我要订餐_files/u47_normal.png');
}

.u103_container {
    position:absolute;
    left:252px;
    top:849px;
    width:166px;
    height:28px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u104 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u49_mouseOver.png');
}

.u105_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u49_mouseDown.png');
}

.u105_disabled {
    background-image: url('../首页-我要订餐_files/button_u49_disabled.png');
}

.u105_normal {
    background-image: url('../首页-我要订餐_files/button_u49_normal.png');
}

.u105_container {
    position:absolute;
    left:428px;
    top:852px;
    width:58px;
    height:24px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_line {
    background-image: url('../首页-我要订餐_files/u107_line.png');
}

.u107_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u107 {
    position:absolute;
    left:430px;
    top:871px;
    width:54px;
    height:10px;
    
}

.u108_normal {
    background-image: url('../首页-我要订餐_files/u52_normal.png');
}

.u108_container {
    position:absolute;
    left:526px;
    top:666px;
    width:409px;
    height:230px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:415px;
    height:236px;
}

.u109 {
    position:absolute;
    left:2px;
    top:107px;
    width:405px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:546px;
    top:674px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:683px;
    top:699px;
    width:246px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:551px;
    top:861px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_container {
    position:absolute;
    left:546px;
    top:700px;
    width:119px;
    height:133px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:133px;
}

.u114 {
    position:absolute;
    left:2px;
    top:58px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../首页-我要订餐_files/u59_normal.png');
}

.u115_container {
    position:absolute;
    left:547px;
    top:840px;
    width:110px;
    height:19px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:19px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_mouseOver {
    background-image: url('../首页-我要订餐_files/button_u49_mouseOver.png');
}

.u117_mouseDown {
    background-image: url('../首页-我要订餐_files/button_u49_mouseDown.png');
}

.u117_disabled {
    background-image: url('../首页-我要订餐_files/button_u49_disabled.png');
}

.u117_normal {
    background-image: url('../首页-我要订餐_files/button_u49_normal.png');
}

.u117_container {
    position:absolute;
    left:852px;
    top:851px;
    width:58px;
    height:24px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:30px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_line {
    background-image: url('../首页-我要订餐_files/u119_line.png');
}

.u119_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u119 {
    position:absolute;
    left:854px;
    top:870px;
    width:54px;
    height:10px;
    
}

.u120_normal {
    background-image: url('../首页-我要订餐_files/u47_normal.png');
}

.u120_container {
    position:absolute;
    left:667px;
    top:851px;
    width:166px;
    height:28px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:34px;
}

.u121 {
    position:absolute;
    left:2px;
    top:6px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:756px;
    top:46px;
    width:173px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

