* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/u0_normal.png");
}

* html .u3_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/u3_line.png");
}

* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/u6_line.png");
}

* html .u8_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/button_u8_mouseOver.png");
}

* html .u8_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/button_u8_mouseDown.png");
}

* html .u8_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/button_u8_selected.png");
}

* html .u8_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/button_u8_disabled.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/button_u8_normal.png");
}

* html .u11_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/u11_line.png");
}

* html .u16_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/u16_line.png");
}

* html .u17_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_bar_desc_for_anno_files/u17_line.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/u19_normal.png");
}

* html .u22_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_mouseOver.png");
}

* html .u22_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_mouseDown.png");
}

* html .u22_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_selected.png");
}

* html .u22_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_disabled.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_normal.png");
}

* html .u24_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/u24_line.png");
}

* html .u25_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_mouseOver.png");
}

* html .u25_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_mouseDown.png");
}

* html .u25_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_selected.png");
}

* html .u25_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_disabled.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/button_u22_normal.png");
}

* html .u27_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/u27_line.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/u28_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="head_files/u30_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/tab_u33_normal.png");
}

* html .u35_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/tab_u35_mouseOver.png");
}

* html .u35_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/tab_u35_mouseDown.png");
}

* html .u35_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/tab_u35_disabled.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/tab_u35_disabled.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/u37_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/image_u41_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/image_u43_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/image_u45_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_top5_files/image_u48_normal.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_category_files/image_u61_normal.png");
}

* html .u66_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_category_files/u66_line.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_category_files/u68_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_category_files/u68_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_category_files/u68_normal.png");
}

* html .u75_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="right_category_files/u75_line.png");
}

* html .u77_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bar_info_files/u77_line.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bar_info_files/u78_normal.png");
}

* html .u87_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bar_info_files/button_u87_mouseOver.png");
}

* html .u87_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bar_info_files/button_u87_mouseDown.png");
}

* html .u87_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bar_info_files/button_u87_disabled.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bar_info_files/button_u87_normal.png");
}

* html .u89_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bar_info_files/u89_line.png");
}

* html .u95_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="挑战者_files/u95_normal.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="挑战者_files/u95_normal.png");
}

* html .u104_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="挑战者_files/u95_normal.png");
}

* html .u112_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="挑战者_files/u95_normal.png");
}

* html .u114_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="挑战者_files/u95_normal.png");
}

* html .u116_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="挑战者_files/u95_normal.png");
}

