body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../A_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:310px;
    top:2150px;
    width:364px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:364px;
    height:50px;
}

.u1 {
    position:absolute;
    left:2px;
    top:17px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../标题区A_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:51px;
    top:84px;
    width:739px;
    height:83px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:745px;
    height:89px;
}

.u3 {
    position:absolute;
    left:2px;
    top:34px;
    width:735px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:133px;
    top:92px;
    width:124px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:62px;
    top:183px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../标题区A_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:440px;
    top:131px;
    width:77px;
    height:23px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:29px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../标题区A_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:703px;
    top:177px;
    width:75px;
    height:23px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:29px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../标题区A_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:740px;
    height:3px;
}

.u10 {
    position:absolute;
    left:50px;
    top:204px;
    width:740px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../标题区A_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:246px;
    top:131px;
    width:6px;
    height:5px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:11px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:136px;
    top:134px;
    width:290px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../标题区A_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:61px;
    top:94px;
    width:62px;
    height:62px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:68px;
}

.u18 {
    position:absolute;
    left:2px;
    top:23px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../标题区A_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:62px;
    top:95px;
    width:60px;
    height:60px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u20 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:134px;
    top:249px;
    width:300px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:111px;
    top:225px;
    width:166px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:110px;
    top:273px;
    width:667px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:110px;
    top:329px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:679px;
    top:329px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../动态-评论在右_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u28 {
    position:absolute;
    left:59px;
    top:349px;
    width:718px;
    height:10px;
    
}

.u29_normal {
    background-image: url('../动态-评论在右_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:59px;
    top:227px;
    width:40px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:137px;
    top:400px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:110px;
    top:375px;
    width:129px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:137px;
    top:425px;
    width:640px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:110px;
    top:477px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:680px;
    top:477px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../动态-评论在右_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:59px;
    top:377px;
    width:40px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../动态-评论在右_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:732px;
    top:326px;
    width:37px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_line {
    background-image: url('../动态-评论在右_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u41 {
    position:absolute;
    left:59px;
    top:498px;
    width:718px;
    height:10px;
    
}

.u42 {
    position:absolute;
    left:138px;
    top:552px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:111px;
    top:526px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:138px;
    top:577px;
    width:639px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:110px;
    top:630px;
    width:64px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:680px;
    top:630px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../动态-评论在右_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:59px;
    top:528px;
    width:40px;
    height:40px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_line {
    background-image: url('../动态-评论在右_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u50 {
    position:absolute;
    left:59px;
    top:650px;
    width:718px;
    height:10px;
    
}

.u51 {
    position:absolute;
    left:111px;
    top:697px;
    width:637px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:128px;
    top:679px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:110px;
    top:871px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_line {
    background-image: url('../动态-评论在右_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u54 {
    position:absolute;
    left:59px;
    top:887px;
    width:718px;
    height:10px;
    
}

.u55 {
    position:absolute;
    left:216px;
    top:941px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:128px;
    top:915px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:214px;
    top:964px;
    width:555px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:110px;
    top:1019px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../动态-评论在右_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:59px;
    top:916px;
    width:40px;
    height:40px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u61 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../动态-评论在右_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:114px;
    top:942px;
    width:90px;
    height:63px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:63px;
}

.u63 {
    position:absolute;
    left:2px;
    top:24px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_line {
    background-image: url('../动态-评论在右_files/u64_line.png');
}

.u64_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u64 {
    position:absolute;
    left:59px;
    top:1040px;
    width:718px;
    height:10px;
    
}

.u65 {
    position:absolute;
    left:138px;
    top:1092px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:111px;
    top:1068px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:138px;
    top:1118px;
    width:646px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:110px;
    top:1150px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:681px;
    top:1150px;
    width:34px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../动态-评论在右_files/u37_normal.png');
}

.u71_container {
    position:absolute;
    left:60px;
    top:1070px;
    width:40px;
    height:40px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u72 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../动态-评论在右_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:730px;
    top:475px;
    width:24px;
    height:18px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u74 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../动态-评论在右_files/u73_normal.png');
}

.u75_container {
    position:absolute;
    left:730px;
    top:628px;
    width:24px;
    height:18px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u76 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../动态-评论在右_files/u73_normal.png');
}

.u77_container {
    position:absolute;
    left:729px;
    top:1148px;
    width:24px;
    height:18px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u78 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../动态-评论在右_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u79 {
    position:absolute;
    left:59px;
    top:1170px;
    width:718px;
    height:10px;
    
}

.u80 {
    position:absolute;
    left:138px;
    top:1225px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:110px;
    top:1199px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:139px;
    top:1250px;
    width:638px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:110px;
    top:1301px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:680px;
    top:1301px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_line {
    background-image: url('../动态-评论在右_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u86 {
    position:absolute;
    left:59px;
    top:1322px;
    width:718px;
    height:10px;
    
}

.u87 {
    position:absolute;
    left:138px;
    top:1377px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:110px;
    top:1352px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:110px;
    top:1399px;
    width:646px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:110px;
    top:1452px;
    width:72px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:679px;
    top:1452px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../动态-评论在右_files/u73_normal.png');
}

.u93_container {
    position:absolute;
    left:729px;
    top:1450px;
    width:24px;
    height:18px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u94 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_line {
    background-image: url('../动态-评论在右_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u95 {
    position:absolute;
    left:59px;
    top:1471px;
    width:718px;
    height:10px;
    
}

.u96_normal {
    background-image: url('../动态-评论在右_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:59px;
    top:1198px;
    width:40px;
    height:40px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u97 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../动态-评论在右_files/u73_normal.png');
}

.u98_container {
    position:absolute;
    left:730px;
    top:1299px;
    width:24px;
    height:18px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u99 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../动态-评论在右_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:59px;
    top:1352px;
    width:40px;
    height:40px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u101 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../动态-评论在右_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:60px;
    top:2046px;
    width:717px;
    height:37px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:723px;
    height:43px;
}

.u103 {
    position:absolute;
    left:2px;
    top:10px;
    width:713px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:138px;
    top:1527px;
    width:444px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:111px;
    top:1501px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:111px;
    top:1548px;
    width:646px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:110px;
    top:1598px;
    width:72px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:680px;
    top:1598px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../动态-评论在右_files/u48_normal.png');
}

.u110_container {
    position:absolute;
    left:59px;
    top:1503px;
    width:40px;
    height:40px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u111 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_line {
    background-image: url('../动态-评论在右_files/u112_line.png');
}

.u112_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u112 {
    position:absolute;
    left:59px;
    top:1617px;
    width:718px;
    height:10px;
    
}

.u113 {
    position:absolute;
    left:208px;
    top:1665px;
    width:483px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:128px;
    top:1641px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:110px;
    top:1757px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../动态-评论在右_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:728px;
    top:1594px;
    width:44px;
    height:21px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:21px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../动态-评论在右_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:59px;
    top:1641px;
    width:40px;
    height:40px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u119 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_line {
    background-image: url('../动态-评论在右_files/u120_line.png');
}

.u120_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u120 {
    position:absolute;
    left:59px;
    top:1909px;
    width:718px;
    height:10px;
    
}

.u121 {
    position:absolute;
    left:110px;
    top:1936px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../动态-评论在右_files/u122_normal.png');
}

.u122_container {
    position:absolute;
    left:110px;
    top:1964px;
    width:30px;
    height:30px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u123 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../动态-评论在右_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:151px;
    top:1964px;
    width:30px;
    height:30px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u125 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../动态-评论在右_files/u126_normal.png');
}

.u126_container {
    position:absolute;
    left:194px;
    top:1964px;
    width:30px;
    height:30px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u127 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:110px;
    top:2005px;
    width:79px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../动态-评论在右_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:60px;
    top:1937px;
    width:40px;
    height:40px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u130 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../动态-评论在右_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:62px;
    top:1939px;
    width:38px;
    height:38px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:38px;
}

.u132 {
    position:absolute;
    left:2px;
    top:11px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../动态-评论在右_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:527px;
    top:1529px;
    width:19px;
    height:14px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:14px;
}

.u134 {
    position:absolute;
    left:2px;
    top:-1px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../动态-评论在右_files/u133_normal.png');
}

.u135_container {
    position:absolute;
    left:475px;
    top:553px;
    width:19px;
    height:14px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:14px;
}

.u136 {
    position:absolute;
    left:2px;
    top:-1px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_container {
    position:absolute;
    left:110px;
    top:250px;
    width:16px;
    height:16px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u138 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../动态-评论在右_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:111px;
    top:401px;
    width:16px;
    height:16px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u140 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../动态-评论在右_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:110px;
    top:428px;
    width:16px;
    height:16px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u142 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../动态-评论在右_files/u139_normal.png');
}

.u143_container {
    position:absolute;
    left:111px;
    top:553px;
    width:16px;
    height:16px;
}

#u143_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u144 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../动态-评论在右_files/u141_normal.png');
}

.u145_container {
    position:absolute;
    left:110px;
    top:580px;
    width:16px;
    height:16px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u146 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../动态-评论在右_files/u139_normal.png');
}

.u147_container {
    position:absolute;
    left:111px;
    top:1093px;
    width:16px;
    height:16px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u148 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../动态-评论在右_files/u141_normal.png');
}

.u149_container {
    position:absolute;
    left:110px;
    top:1120px;
    width:16px;
    height:16px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u150 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../动态-评论在右_files/u139_normal.png');
}

.u151_container {
    position:absolute;
    left:111px;
    top:1226px;
    width:16px;
    height:16px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u152 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../动态-评论在右_files/u141_normal.png');
}

.u153_container {
    position:absolute;
    left:110px;
    top:1253px;
    width:16px;
    height:16px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u154 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_container {
    position:absolute;
    left:111px;
    top:1528px;
    width:16px;
    height:16px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u156 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../动态-评论在右_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:110px;
    top:678px;
    width:17px;
    height:15px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:15px;
}

.u158 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../动态-评论在右_files/u157_normal.png');
}

.u159_container {
    position:absolute;
    left:111px;
    top:914px;
    width:17px;
    height:15px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:15px;
}

.u160 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../动态-评论在右_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:59px;
    top:678px;
    width:40px;
    height:40px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u162 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../动态-评论在右_files/u157_normal.png');
}

.u163_container {
    position:absolute;
    left:110px;
    top:1641px;
    width:17px;
    height:15px;
}

#u163_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:15px;
}

.u164 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_line {
    background-image: url('../动态-评论在右_files/u165_line.png');
}

.u165_line {
    position:absolute;
    left:0px;
    top:4px;
    width:718px;
    height:3px;
}

.u165 {
    position:absolute;
    left:59px;
    top:2023px;
    width:718px;
    height:10px;
    
}

.u166_normal {
    background-image: url('../动态-评论在右_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:112px;
    top:1377px;
    width:16px;
    height:16px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u167 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:681px;
    top:1023px;
    width:34px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../动态-评论在右_files/u73_normal.png');
}

.u169_container {
    position:absolute;
    left:729px;
    top:1021px;
    width:24px;
    height:18px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u170 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../动态-评论在右_files/u171_normal.png');
}

.u171_container {
    position:absolute;
    left:112px;
    top:1672px;
    width:90px;
    height:63px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:63px;
}

.u172 {
    position:absolute;
    left:2px;
    top:24px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:216px;
    top:1697px;
    width:556px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:680px;
    top:1757px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../动态-评论在右_files/u116_normal.png');
}

.u175_container {
    position:absolute;
    left:728px;
    top:1754px;
    width:44px;
    height:21px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:21px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_line {
    background-image: url('../动态-评论在右_files/u177_line.png');
}

.u177_line {
    position:absolute;
    left:0px;
    top:4px;
    width:667px;
    height:3px;
}

.u177 {
    position:absolute;
    left:110px;
    top:1777px;
    width:667px;
    height:10px;
    
}

.u178_normal {
    background-image: url('../动态-评论在右_files/u178_normal.png');
}

.u178_container {
    position:absolute;
    left:110px;
    top:1803px;
    width:90px;
    height:63px;
}

#u178_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:63px;
}

.u179 {
    position:absolute;
    left:2px;
    top:24px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:208px;
    top:1795px;
    width:483px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:214px;
    top:1826px;
    width:563px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:110px;
    top:1887px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:679px;
    top:1887px;
    width:62px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../动态-评论在右_files/u73_normal.png');
}

.u184_container {
    position:absolute;
    left:729px;
    top:1885px;
    width:24px;
    height:18px;
}

#u184_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u185 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../右栏A_files/u187_normal.png');
}

.u187_container {
    position:absolute;
    left:800px;
    top:84px;
    width:230px;
    height:785px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:791px;
}

.u188 {
    position:absolute;
    left:12px;
    top:15px;
    width:206px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:817px;
    top:95px;
    width:90px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_line {
    background-image: url('../右栏A_files/u190_line.png');
}

.u190_line {
    position:absolute;
    left:0px;
    top:4px;
    width:230px;
    height:3px;
}

.u190 {
    position:absolute;
    left:800px;
    top:290px;
    width:230px;
    height:10px;
    
}

.u191 {
    position:absolute;
    left:817px;
    top:227px;
    width:200px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:817px;
    top:178px;
    width:200px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:838px;
    top:264px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../右栏A_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:817px;
    top:264px;
    width:16px;
    height:16px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u195 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:817px;
    top:123px;
    width:211px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:817px;
    top:314px;
    width:90px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_line {
    background-image: url('../右栏A_files/u198_line.png');
}

.u198_line {
    position:absolute;
    left:0px;
    top:4px;
    width:229px;
    height:3px;
}

.u198 {
    position:absolute;
    left:801px;
    top:485px;
    width:229px;
    height:10px;
    
}

.u199_normal {
    background-image: url('../右栏A_files/u199_normal.png');
}

.u199_container {
    position:absolute;
    left:818px;
    top:453px;
    width:126px;
    height:20px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u200 {
    position:absolute;
    left:8px;
    top:3px;
    width:116px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../右栏A_files/u201_normal.png');
}

.u201_container {
    position:absolute;
    left:954px;
    top:453px;
    width:62px;
    height:20px;
}

#u201_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u202 {
    position:absolute;
    left:2px;
    top:3px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../右栏A_files/u203_normal.png');
}

.u203_container {
    position:absolute;
    left:817px;
    top:343px;
    width:77px;
    height:23px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:29px;
}

.u204 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../右栏A_files/u205_normal.png');
}

.u205_container {
    position:absolute;
    left:907px;
    top:343px;
    width:96px;
    height:23px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:29px;
}

.u206 {
    position:absolute;
    left:2px;
    top:4px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../右栏A_files/u207_normal.png');
}

.u207_container {
    position:absolute;
    left:817px;
    top:377px;
    width:90px;
    height:23px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:29px;
}

.u208 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../右栏A_files/u207_normal.png');
}

.u209_container {
    position:absolute;
    left:922px;
    top:378px;
    width:90px;
    height:23px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:29px;
}

.u210 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../右栏A_files/u211_normal.png');
}

.u211_container {
    position:absolute;
    left:820px;
    top:412px;
    width:52px;
    height:23px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:29px;
}

.u212 {
    position:absolute;
    left:2px;
    top:4px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:823px;
    top:337px;
    width:180px;
    height:102px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:817px;
    top:508px;
    width:156px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../右栏A_files/u215_normal.png');
}

.u215_container {
    position:absolute;
    left:842px;
    top:544px;
    width:40px;
    height:40px;
}

#u215_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u216 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:892px;
    top:544px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:892px;
    top:570px;
    width:106px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219_normal {
    background-image: url('../右栏A_files/u219_normal.png');
}

.u219_container {
    position:absolute;
    left:842px;
    top:614px;
    width:40px;
    height:40px;
}

#u219_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u220 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221 {
    position:absolute;
    left:892px;
    top:614px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:892px;
    top:638px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:892px;
    top:680px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../右栏A_files/u224_normal.png');
}

.u224_container {
    position:absolute;
    left:842px;
    top:680px;
    width:40px;
    height:40px;
}

#u224_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u225 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../右栏A_files/u226_normal.png');
}

.u226_container {
    position:absolute;
    left:818px;
    top:544px;
    width:14px;
    height:14px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u227 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../右栏A_files/u226_normal.png');
}

.u228_container {
    position:absolute;
    left:818px;
    top:612px;
    width:14px;
    height:14px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u229 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230 {
    position:absolute;
    left:892px;
    top:704px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../右栏A_files/u226_normal.png');
}

.u231_container {
    position:absolute;
    left:818px;
    top:678px;
    width:14px;
    height:14px;
}

#u231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u232 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:892px;
    top:740px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:892px;
    top:764px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235_normal {
    background-image: url('../右栏A_files/u226_normal.png');
}

.u235_container {
    position:absolute;
    left:818px;
    top:740px;
    width:14px;
    height:14px;
}

#u235_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u236 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:892px;
    top:802px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:892px;
    top:826px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239_normal {
    background-image: url('../右栏A_files/u226_normal.png');
}

.u239_container {
    position:absolute;
    left:818px;
    top:803px;
    width:14px;
    height:14px;
}

#u239_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u240 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_normal {
    background-image: url('../右栏A_files/u241_normal.png');
}

.u241_container {
    position:absolute;
    left:842px;
    top:740px;
    width:40px;
    height:40px;
}

#u241_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u242 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_normal {
    background-image: url('../右栏A_files/u243_normal.png');
}

.u243_container {
    position:absolute;
    left:842px;
    top:802px;
    width:40px;
    height:40px;
}

#u243_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u244 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246_normal {
    background-image: url('../页头无导航_files/u246_normal.png');
}

.u246_container {
    position:absolute;
    left:-3px;
    top:1px;
    width:1280px;
    height:69px;
}

#u246_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1286px;
    height:75px;
}

.u247 {
    position:absolute;
    left:2px;
    top:26px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248 {
    position:absolute;
    left:58px;
    top:17px;
    width:80px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../页头无导航_files/u249_normal.png');
}

.u249_container {
    position:absolute;
    left:138px;
    top:22px;
    width:260px;
    height:28px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:34px;
}

.u250 {
    position:absolute;
    left:2px;
    top:6px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:864px;
    top:25px;
    width:80px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252_normal {
    background-image: url('../页头无导航_files/u252_normal.png');
}

.u252_container {
    position:absolute;
    left:951px;
    top:26px;
    width:20px;
    height:17px;
}

#u252_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:23px;
}

.u253 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254 {
    position:absolute;
    left:991px;
    top:25px;
    width:40px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_normal {
    background-image: url('../页头无导航_files/u255_normal.png');
}

.u255_container {
    position:absolute;
    left:388px;
    top:22px;
    width:80px;
    height:28px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u256 {
    position:absolute;
    left:2px;
    top:4px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_normal {
    background-image: url('../页头无导航_files/u257_normal.png');
}

.u257_container {
    position:absolute;
    left:930px;
    top:29px;
    width:14px;
    height:14px;
}

#u257_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u258 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259_line {
    background-image: url('../页头无导航_files/u259_line.png');
}

.u259_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:17px;
}

.u259 {
    position:absolute;
    left:976px;
    top:26px;
    width:10px;
    height:17px;
    
}

