body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../head_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:7px;
    width:971px;
    height:57px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:977px;
    height:63px;
}

.u1 {
    position:absolute;
    left:2px;
    top:20px;
    width:967px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:62px;
    top:18px;
    width:87px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_mouseOver {
    background-image: url('../head_files/button_u3_mouseOver.png');
}

.u3_mouseDown {
    background-image: url('../head_files/button_u3_mouseDown.png');
}

.u3_selected {
    background-image: url('../head_files/button_u3_selected.png');
}

.u3_disabled {
    background-image: url('../head_files/button_u3_disabled.png');
}

.u3_normal {
    background-image: url('../head_files/button_u3_normal.png');
}

.u3_container {
    position:absolute;
    left:431px;
    top:23px;
    width:74px;
    height:27px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:33px;
}

.u4 {
    position:absolute;
    left:2px;
    top:6px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../head_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:70px;
    height:3px;
}

.u5 {
    position:absolute;
    left:432px;
    top:44px;
    width:70px;
    height:10px;
    
}

.u6_mouseOver {
    background-image: url('../head_files/button_u3_mouseOver.png');
}

.u6_mouseDown {
    background-image: url('../head_files/button_u3_mouseDown.png');
}

.u6_selected {
    background-image: url('../head_files/button_u3_selected.png');
}

.u6_disabled {
    background-image: url('../head_files/button_u3_disabled.png');
}

.u6_normal {
    background-image: url('../head_files/button_u3_normal.png');
}

.u6_container {
    position:absolute;
    left:523px;
    top:23px;
    width:74px;
    height:27px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:33px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../head_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:70px;
    height:3px;
}

.u8 {
    position:absolute;
    left:524px;
    top:44px;
    width:70px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../head_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:806px;
    top:18px;
    width:195px;
    height:38px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:38px;
}

.u10 {
    position:absolute;
    left:2px;
    top:11px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../head_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:149px;
    top:18px;
    width:267px;
    height:32px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:38px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:263px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../right_top5_files/tab_u14_normal.png');
}

.u14_container {
    position:absolute;
    left:816px;
    top:611px;
    width:61px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../right_top5_files/tab_u16_mouseOver.png');
}

.u16_mouseDown {
    background-image: url('../right_top5_files/tab_u16_mouseDown.png');
}

.u16_disabled {
    background-image: url('../right_top5_files/tab_u16_disabled.png');
}

.u16_normal {
    background-image: url('../right_top5_files/tab_u16_disabled.png');
}

.u16_container {
    position:absolute;
    left:880px;
    top:611px;
    width:64px;
    height:24px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:30px;
}

.u17 {
    position:absolute;
    left:2px;
    top:5px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../right_top5_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:816px;
    top:636px;
    width:218px;
    height:272px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:278px;
}

.u19 {
    position:absolute;
    left:2px;
    top:128px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_container {
    position:absolute;
    left:830px;
    top:761px;
    width:48px;
    height:48px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u21 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../right_top5_files/image_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:828px;
    top:649px;
    width:48px;
    height:48px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u23 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../right_top5_files/image_u24_normal.png');
}

.u24_container {
    position:absolute;
    left:830px;
    top:706px;
    width:46px;
    height:46px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../right_top5_files/image_u26_normal.png');
}

.u26_container {
    position:absolute;
    left:831px;
    top:822px;
    width:46px;
    height:46px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:881px;
    top:654px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../right_top5_files/image_u29_normal.png');
}

.u29_container {
    position:absolute;
    left:959px;
    top:653px;
    width:20px;
    height:18px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:18px;
}

.u30 {
    position:absolute;
    left:2px;
    top:1px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:882px;
    top:680px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:881px;
    top:707px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:880px;
    top:733px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:885px;
    top:761px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:884px;
    top:788px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:883px;
    top:824px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:882px;
    top:850px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:830px;
    top:878px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:816px;
    top:582px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:820px;
    top:446px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../right_category_files/image_u42_normal.png');
}

.u42_container {
    position:absolute;
    left:820px;
    top:477px;
    width:48px;
    height:48px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u43 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:873px;
    top:480px;
    width:49px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:820px;
    top:532px;
    width:188px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:873px;
    top:505px;
    width:103px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../right_category_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u47 {
    position:absolute;
    left:816px;
    top:572px;
    width:202px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:817px;
    top:282px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../right_category_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:823px;
    top:312px;
    width:85px;
    height:24px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:30px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../right_category_files/u49_normal.png');
}

.u52_container {
    position:absolute;
    left:823px;
    top:346px;
    width:85px;
    height:24px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:30px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../right_category_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:824px;
    top:381px;
    width:84px;
    height:24px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:30px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:827px;
    top:418px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_line {
    background-image: url('../right_category_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u58 {
    position:absolute;
    left:820px;
    top:437px;
    width:202px;
    height:10px;
    
}

.u59_normal {
    background-image: url('../right_category_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:827px;
    top:316px;
    width:16px;
    height:16px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u60 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../right_category_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:826px;
    top:350px;
    width:16px;
    height:16px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u62 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../right_category_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:829px;
    top:385px;
    width:16px;
    height:16px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u64 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../bar_info_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u66 {
    position:absolute;
    left:55px;
    top:173px;
    width:726px;
    height:10px;
    
}

.u67_normal {
    background-image: url('../bar_info_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:57px;
    top:95px;
    width:86px;
    height:77px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:86px;
    height:77px;
}

.u68 {
    position:absolute;
    left:2px;
    top:30px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:152px;
    top:99px;
    width:119px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:276px;
    top:105px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:54px;
    top:72px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:117px;
    top:73px;
    width:10px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:128px;
    top:72px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:194px;
    top:73px;
    width:10px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:208px;
    top:72px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_mouseOver {
    background-image: url('../bar_info_files/button_u76_mouseOver.png');
}

.u76_mouseDown {
    background-image: url('../bar_info_files/button_u76_mouseDown.png');
}

.u76_disabled {
    background-image: url('../bar_info_files/button_u76_disabled.png');
}

.u76_normal {
    background-image: url('../bar_info_files/button_u76_normal.png');
}

.u76_container {
    position:absolute;
    left:663px;
    top:101px;
    width:79px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../bar_info_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:0px;
    top:4px;
    width:74px;
    height:3px;
}

.u78 {
    position:absolute;
    left:665px;
    top:121px;
    width:74px;
    height:10px;
    
}

.u79 {
    position:absolute;
    left:663px;
    top:141px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../body_knowledge_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u81 {
    position:absolute;
    left:57px;
    top:255px;
    width:726px;
    height:10px;
    
}

.u82 {
    position:absolute;
    left:59px;
    top:271px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../body_knowledge_files/image_u83_normal.png');
}

.u83_container {
    position:absolute;
    left:59px;
    top:300px;
    width:46px;
    height:46px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u84 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:110px;
    top:302px;
    width:147px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:110px;
    top:325px;
    width:602px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:599px;
    top:438px;
    width:120px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_line {
    background-image: url('../body_knowledge_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u88 {
    position:absolute;
    left:57px;
    top:458px;
    width:726px;
    height:10px;
    
}

.u89 {
    position:absolute;
    left:113px;
    top:438px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../body_knowledge_files/image_u90_normal.png');
}

.u90_container {
    position:absolute;
    left:584px;
    top:441px;
    width:13px;
    height:12px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u91 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../body_knowledge_files/image_u92_normal.png');
}

.u92_container {
    position:absolute;
    left:641px;
    top:437px;
    width:15px;
    height:16px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u93 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:57px;
    top:468px;
    width:257px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../body_knowledge_files/image_u95_normal.png');
}

.u95_container {
    position:absolute;
    left:57px;
    top:493px;
    width:46px;
    height:46px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u96 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:109px;
    top:498px;
    width:147px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:109px;
    top:523px;
    width:418px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:589px;
    top:638px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../body_knowledge_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u100 {
    position:absolute;
    left:47px;
    top:658px;
    width:726px;
    height:10px;
    
}

.u101 {
    position:absolute;
    left:108px;
    top:638px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../body_knowledge_files/image_u90_normal.png');
}

.u102_container {
    position:absolute;
    left:574px;
    top:641px;
    width:13px;
    height:12px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u103 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_container {
    position:absolute;
    left:545px;
    top:511px;
    width:147px;
    height:107px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:147px;
    height:107px;
}

.u105 {
    position:absolute;
    left:2px;
    top:46px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../body_knowledge_files/image_u92_normal.png');
}

.u106_container {
    position:absolute;
    left:632px;
    top:637px;
    width:15px;
    height:16px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u107 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../body_knowledge_files/image_u108_normal.png');
}

.u108_container {
    position:absolute;
    left:56px;
    top:694px;
    width:48px;
    height:48px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u109 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:54px;
    top:672px;
    width:239px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:114px;
    top:698px;
    width:154px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:111px;
    top:724px;
    width:602px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:588px;
    top:812px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_line {
    background-image: url('../body_knowledge_files/u114_line.png');
}

.u114_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u114 {
    position:absolute;
    left:54px;
    top:888px;
    width:726px;
    height:10px;
    
}

.u115 {
    position:absolute;
    left:113px;
    top:810px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../body_knowledge_files/image_u90_normal.png');
}

.u116_container {
    position:absolute;
    left:575px;
    top:813px;
    width:13px;
    height:12px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u117 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../body_knowledge_files/image_u92_normal.png');
}

.u118_container {
    position:absolute;
    left:630px;
    top:812px;
    width:15px;
    height:16px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u119 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../body_knowledge_files/image_u120_normal.png');
}

.u120_container {
    position:absolute;
    left:391px;
    top:769px;
    width:188px;
    height:34px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:34px;
}

.u121 {
    position:absolute;
    left:2px;
    top:9px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:108px;
    top:779px;
    width:251px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../body_knowledge_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:93px;
    top:840px;
    width:638px;
    height:44px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:638px;
    height:44px;
}

.u124 {
    position:absolute;
    left:2px;
    top:14px;
    width:634px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../body_knowledge_files/image_u125_normal.png');
}

.u125_container {
    position:absolute;
    left:268px;
    top:697px;
    width:20px;
    height:18px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:18px;
}

.u126 {
    position:absolute;
    left:2px;
    top:1px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../body_knowledge_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:156px;
    top:186px;
    width:109px;
    height:24px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:30px;
}

.u128 {
    position:absolute;
    left:2px;
    top:4px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../body_knowledge_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:418px;
    top:186px;
    width:92px;
    height:24px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:30px;
}

.u130 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../body_knowledge_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:299px;
    top:186px;
    width:75px;
    height:24px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:30px;
}

.u132 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../body_knowledge_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:157px;
    top:225px;
    width:89px;
    height:24px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:30px;
}

.u134 {
    position:absolute;
    left:2px;
    top:4px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../body_knowledge_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:54px;
    top:186px;
    width:75px;
    height:24px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:30px;
}

.u136 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../body_knowledge_files/u129_normal.png');
}

.u137_container {
    position:absolute;
    left:564px;
    top:186px;
    width:92px;
    height:24px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:30px;
}

.u138 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../body_knowledge_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:289px;
    top:225px;
    width:70px;
    height:24px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:30px;
}

.u140 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:638px;
    top:265px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:153px;
    top:137px;
    width:226px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../right_bar_desc_for_member_files/u179_normal.png');
}

.u146_container {
    position:absolute;
    left:816px;
    top:147px;
    width:197px;
    height:40px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:46px;
}

.u147 {
    position:absolute;
    left:2px;
    top:12px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:862px;
    top:80px;
    width:35px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_line {
    background-image: url('../right_bar_desc_for_member_files/u182_line.png');
}

.u149_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u149 {
    position:absolute;
    left:817px;
    top:111px;
    width:202px;
    height:10px;
    
}

.u150 {
    position:absolute;
    left:817px;
    top:121px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:817px;
    top:194px;
    width:207px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_line {
    background-image: url('../right_bar_desc_for_member_files/u185_line.png');
}

.u152_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u152 {
    position:absolute;
    left:817px;
    top:262px;
    width:202px;
    height:10px;
    
}

.u153 {
    position:absolute;
    left:818px;
    top:80px;
    width:36px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_line {
    background-image: url('../right_bar_desc_for_member_files/u187_line.png');
}

.u154_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u154 {
    position:absolute;
    left:847px;
    top:85px;
    width:10px;
    height:25px;
    
}

.u155 {
    position:absolute;
    left:924px;
    top:245px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:822px;
    top:151px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:896px;
    top:151px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:968px;
    top:151px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_line {
    background-image: url('../right_bar_desc_for_member_files/u192_line.png');
}

.u159_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u159 {
    position:absolute;
    left:880px;
    top:155px;
    width:10px;
    height:25px;
    
}

.u160_line {
    background-image: url('../right_bar_desc_for_member_files/u193_line.png');
}

.u160_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u160 {
    position:absolute;
    left:954px;
    top:155px;
    width:10px;
    height:25px;
    
}

