body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:230px;
    top:64px;
    width:140px;
    height:24px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:30px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:136px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:370px;
    top:64px;
    width:49px;
    height:24px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:30px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:234px;
    top:66px;
    width:17px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:88px;
    top:30px;
    width:92px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:88px;
    top:68px;
    width:92px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u0_normal.png');
}

.u8_container {
    position:absolute;
    left:232px;
    top:116px;
    width:140px;
    height:24px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:30px;
}

.u9 {
    position:absolute;
    left:2px;
    top:5px;
    width:136px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:372px;
    top:116px;
    width:49px;
    height:24px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:30px;
}

.u11 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:236px;
    top:118px;
    width:17px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:20px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:90px;
    top:121px;
    width:92px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:88px;
    top:188px;
    width:92px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u0_normal.png');
}

.u16_container {
    position:absolute;
    left:232px;
    top:183px;
    width:140px;
    height:24px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:30px;
}

.u17 {
    position:absolute;
    left:2px;
    top:5px;
    width:136px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:372px;
    top:183px;
    width:49px;
    height:24px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:30px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:236px;
    top:185px;
    width:17px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:20px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:400px;
    top:200px;
    width:21px;
    height:24px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:24px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:88px;
    top:234px;
    width:406px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:88px;
    top:353px;
    width:152px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:88px;
    top:410px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:88px;
    top:610px;
    width:132px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:88px;
    top:822px;
    width:132px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:88px;
    top:1006px;
    width:165px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:240px;
    top:1220px;
    width:55px;
    height:48px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:48px;
}

.u31 {
    position:absolute;
    left:2px;
    top:16px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:88px;
    top:1228px;
    width:152px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:88px;
    top:1292px;
    width:602px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:288px;
    top:415px;
    width:541px;
    height:104px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:289px;
    top:527px;
    width:75px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:361px;
    top:527px;
    width:106px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:892px;
    top:421px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:260px;
    top:419px;
    width:20px;
    height:16px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u39 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:290px;
    top:610px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:289px;
    top:637px;
    width:540px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:289px;
    top:692px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:367px;
    top:692px;
    width:75px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:904px;
    top:610px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u38_normal.png');
}

.u45_container {
    position:absolute;
    left:260px;
    top:610px;
    width:20px;
    height:16px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u46 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:289px;
    top:733px;
    width:411px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:290px;
    top:823px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u38_normal.png');
}

.u49_container {
    position:absolute;
    left:260px;
    top:823px;
    width:20px;
    height:16px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u50 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:290px;
    top:920px;
    width:521px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:392px;
    top:866px;
    width:178px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:290px;
    top:1006px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u38_normal.png');
}

.u54_container {
    position:absolute;
    left:260px;
    top:1006px;
    width:20px;
    height:16px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u55 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:383px;
    top:1033px;
    width:446px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:290px;
    top:1113px;
    width:521px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:295px;
    top:850px;
    width:83px;
    height:50px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:56px;
}

.u59 {
    position:absolute;
    left:2px;
    top:17px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u58_normal.png');
}

.u60_container {
    position:absolute;
    left:290px;
    top:1033px;
    width:83px;
    height:50px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:56px;
}

.u61 {
    position:absolute;
    left:2px;
    top:17px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u22_normal.png');
}

.u62_container {
    position:absolute;
    left:404px;
    top:136px;
    width:21px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:24px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../_说明_筛选_问题信息展示_返回顶部按钮_files/u22_normal.png');
}

.u64_container {
    position:absolute;
    left:404px;
    top:82px;
    width:21px;
    height:24px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:24px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

