body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../temp_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:214px;
    top:538px;
    width:973px;
    height:93px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:973px;
    height:93px;
}

.u1 {
    position:absolute;
    left:2px;
    top:38px;
    width:969px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../temp_files/button_u2_mouseOver.png');
}

.u2_mouseDown {
    background-image: url('../temp_files/button_u2_mouseDown.png');
}

.u2_disabled {
    background-image: url('../temp_files/button_u2_disabled.png');
}

.u2_normal {
    background-image: url('../temp_files/button_u2_normal.png');
}

.u2_container {
    position:absolute;
    left:497px;
    top:503px;
    width:100px;
    height:32px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../temp_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:94px;
    height:3px;
}

.u4 {
    position:absolute;
    left:500px;
    top:528px;
    width:94px;
    height:10px;
    
}

.u5_mouseOver {
    background-image: url('../temp_files/button_u2_mouseOver.png');
}

.u5_mouseDown {
    background-image: url('../temp_files/button_u2_mouseDown.png');
}

.u5_disabled {
    background-image: url('../temp_files/button_u2_disabled.png');
}

.u5_normal {
    background-image: url('../temp_files/button_u2_normal.png');
}

.u5_container {
    position:absolute;
    left:662px;
    top:502px;
    width:100px;
    height:32px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../temp_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:94px;
    height:3px;
}

.u7 {
    position:absolute;
    left:665px;
    top:528px;
    width:94px;
    height:10px;
    
}

.u8_mouseOver {
    background-image: url('../temp_files/button_u2_mouseOver.png');
}

.u8_mouseDown {
    background-image: url('../temp_files/button_u2_mouseDown.png');
}

.u8_disabled {
    background-image: url('../temp_files/button_u2_disabled.png');
}

.u8_normal {
    background-image: url('../temp_files/button_u2_normal.png');
}

.u8_container {
    position:absolute;
    left:804px;
    top:502px;
    width:100px;
    height:32px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../temp_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:94px;
    height:3px;
}

.u10 {
    position:absolute;
    left:807px;
    top:528px;
    width:94px;
    height:10px;
    
}

.u11_mouseOver {
    background-image: url('../temp_files/button_u11_mouseOver.png');
}

.u11_mouseDown {
    background-image: url('../temp_files/button_u11_mouseDown.png');
}

.u11_selected {
    background-image: url('../temp_files/button_u11_selected.png');
}

.u11_disabled {
    background-image: url('../temp_files/button_u11_disabled.png');
}

.u11_normal {
    background-image: url('../temp_files/button_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:388px;
    top:672px;
    width:131px;
    height:47px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:53px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:127px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../temp_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:124px;
    height:3px;
}

.u13 {
    position:absolute;
    left:390px;
    top:708px;
    width:124px;
    height:10px;
    
}

.u14_normal {
    background-image: url('../temp_files/tab_u14_normal.png');
}

.u14_container {
    position:absolute;
    left:730px;
    top:416px;
    width:122px;
    height:34px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:40px;
}

.u15 {
    position:absolute;
    left:2px;
    top:5px;
    width:118px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../temp_files/tab_u16_mouseOver.png');
}

.u16_mouseDown {
    background-image: url('../temp_files/tab_u16_mouseDown.png');
}

.u16_disabled {
    background-image: url('../temp_files/tab_u16_disabled.png');
}

.u16_normal {
    background-image: url('../temp_files/tab_u16_disabled.png');
}

.u16_container {
    position:absolute;
    left:448px;
    top:443px;
    width:115px;
    height:34px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:40px;
}

.u17 {
    position:absolute;
    left:2px;
    top:5px;
    width:111px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../temp_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:278px;
    top:283px;
    width:316px;
    height:72px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:322px;
    height:78px;
}

.u19 {
    position:absolute;
    left:2px;
    top:28px;
    width:312px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../temp_files/tab_u16_mouseOver.png');
}

.u20_mouseDown {
    background-image: url('../temp_files/tab_u16_mouseDown.png');
}

.u20_disabled {
    background-image: url('../temp_files/tab_u16_disabled.png');
}

.u20_normal {
    background-image: url('../temp_files/tab_u16_disabled.png');
}

.u20_container {
    position:absolute;
    left:278px;
    top:443px;
    width:115px;
    height:34px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:40px;
}

.u21 {
    position:absolute;
    left:2px;
    top:5px;
    width:111px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../temp_files/tab_u14_normal.png');
}

.u22_container {
    position:absolute;
    left:598px;
    top:383px;
    width:122px;
    height:34px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:40px;
}

.u23 {
    position:absolute;
    left:2px;
    top:5px;
    width:118px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../temp_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:646px;
    top:437px;
    width:35px;
    height:36px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../temp_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:328px;
    top:202px;
    width:87px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../temp_files/u26_normal.png');
}

.u28_container {
    position:absolute;
    left:432px;
    top:202px;
    width:87px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:46px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:83px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

