body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../right_bar_desc_for_anno_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:814px;
    top:161px;
    width:197px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:860px;
    top:94px;
    width:35px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../right_bar_desc_for_anno_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u3 {
    position:absolute;
    left:815px;
    top:125px;
    width:202px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:815px;
    top:135px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:815px;
    top:208px;
    width:207px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../right_bar_desc_for_anno_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u6 {
    position:absolute;
    left:815px;
    top:276px;
    width:202px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:815px;
    top:259px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_mouseOver.png');
}

.u8_mouseDown {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_mouseDown.png');
}

.u8_selected {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_selected.png');
}

.u8_disabled {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_disabled.png');
}

.u8_normal {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_normal.png');
}

.u8_container {
    position:absolute;
    left:950px;
    top:101px;
    width:53px;
    height:21px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:27px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:816px;
    top:94px;
    width:36px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../right_bar_desc_for_anno_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u11 {
    position:absolute;
    left:845px;
    top:99px;
    width:10px;
    height:25px;
    
}

.u12 {
    position:absolute;
    left:922px;
    top:259px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:820px;
    top:165px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:894px;
    top:165px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:966px;
    top:165px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../right_bar_desc_for_anno_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u16 {
    position:absolute;
    left:878px;
    top:169px;
    width:10px;
    height:25px;
    
}

.u17_line {
    background-image: url('../right_bar_desc_for_anno_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u17 {
    position:absolute;
    left:952px;
    top:169px;
    width:10px;
    height:25px;
    
}

.u19_normal {
    background-image: url('../head_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:50px;
    top:7px;
    width:971px;
    height:57px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:977px;
    height:63px;
}

.u20 {
    position:absolute;
    left:2px;
    top:20px;
    width:967px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:62px;
    top:18px;
    width:87px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../head_files/button_u22_mouseOver.png');
}

.u22_mouseDown {
    background-image: url('../head_files/button_u22_mouseDown.png');
}

.u22_selected {
    background-image: url('../head_files/button_u22_selected.png');
}

.u22_disabled {
    background-image: url('../head_files/button_u22_disabled.png');
}

.u22_normal {
    background-image: url('../head_files/button_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:431px;
    top:23px;
    width:74px;
    height:27px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:33px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../head_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:70px;
    height:3px;
}

.u24 {
    position:absolute;
    left:432px;
    top:44px;
    width:70px;
    height:10px;
    
}

.u25_mouseOver {
    background-image: url('../head_files/button_u22_mouseOver.png');
}

.u25_mouseDown {
    background-image: url('../head_files/button_u22_mouseDown.png');
}

.u25_selected {
    background-image: url('../head_files/button_u22_selected.png');
}

.u25_disabled {
    background-image: url('../head_files/button_u22_disabled.png');
}

.u25_normal {
    background-image: url('../head_files/button_u22_normal.png');
}

.u25_container {
    position:absolute;
    left:523px;
    top:23px;
    width:74px;
    height:27px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:33px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../head_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:70px;
    height:3px;
}

.u27 {
    position:absolute;
    left:524px;
    top:44px;
    width:70px;
    height:10px;
    
}

.u28_normal {
    background-image: url('../head_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:806px;
    top:18px;
    width:195px;
    height:38px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:38px;
}

.u29 {
    position:absolute;
    left:2px;
    top:11px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../head_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:149px;
    top:18px;
    width:267px;
    height:32px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:38px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:263px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../right_top5_files/tab_u33_normal.png');
}

.u33_container {
    position:absolute;
    left:825px;
    top:562px;
    width:61px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../right_top5_files/tab_u35_mouseOver.png');
}

.u35_mouseDown {
    background-image: url('../right_top5_files/tab_u35_mouseDown.png');
}

.u35_disabled {
    background-image: url('../right_top5_files/tab_u35_disabled.png');
}

.u35_normal {
    background-image: url('../right_top5_files/tab_u35_disabled.png');
}

.u35_container {
    position:absolute;
    left:889px;
    top:562px;
    width:64px;
    height:24px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:30px;
}

.u36 {
    position:absolute;
    left:2px;
    top:5px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../right_top5_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:825px;
    top:587px;
    width:218px;
    height:272px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:278px;
}

.u38 {
    position:absolute;
    left:2px;
    top:128px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:839px;
    top:712px;
    width:48px;
    height:48px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u40 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../right_top5_files/image_u41_normal.png');
}

.u41_container {
    position:absolute;
    left:837px;
    top:600px;
    width:48px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u42 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../right_top5_files/image_u43_normal.png');
}

.u43_container {
    position:absolute;
    left:839px;
    top:657px;
    width:46px;
    height:46px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../right_top5_files/image_u45_normal.png');
}

.u45_container {
    position:absolute;
    left:840px;
    top:773px;
    width:46px;
    height:46px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:890px;
    top:605px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../right_top5_files/image_u48_normal.png');
}

.u48_container {
    position:absolute;
    left:968px;
    top:604px;
    width:20px;
    height:18px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:18px;
}

.u49 {
    position:absolute;
    left:2px;
    top:1px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:891px;
    top:631px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:890px;
    top:658px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:889px;
    top:684px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:894px;
    top:712px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:893px;
    top:739px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:892px;
    top:775px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:891px;
    top:801px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:839px;
    top:829px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:825px;
    top:533px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:829px;
    top:397px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../right_category_files/image_u61_normal.png');
}

.u61_container {
    position:absolute;
    left:829px;
    top:428px;
    width:48px;
    height:48px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u62 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:882px;
    top:431px;
    width:49px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:829px;
    top:483px;
    width:188px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:882px;
    top:456px;
    width:103px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../right_category_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u66 {
    position:absolute;
    left:825px;
    top:523px;
    width:202px;
    height:10px;
    
}

.u67 {
    position:absolute;
    left:826px;
    top:233px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../right_category_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:832px;
    top:263px;
    width:85px;
    height:24px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:30px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../right_category_files/u68_normal.png');
}

.u70_container {
    position:absolute;
    left:832px;
    top:297px;
    width:85px;
    height:24px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:30px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../right_category_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:833px;
    top:332px;
    width:84px;
    height:24px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:30px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:836px;
    top:369px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../right_category_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u75 {
    position:absolute;
    left:829px;
    top:388px;
    width:202px;
    height:10px;
    
}

.u76_normal {
    background-image: url('../right_category_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:836px;
    top:267px;
    width:16px;
    height:16px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u77 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../right_category_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:835px;
    top:301px;
    width:16px;
    height:16px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u79 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../right_category_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:838px;
    top:336px;
    width:16px;
    height:16px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u81 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_line {
    background-image: url('../bar_info_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u83 {
    position:absolute;
    left:55px;
    top:173px;
    width:726px;
    height:10px;
    
}

.u84_normal {
    background-image: url('../bar_info_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:57px;
    top:95px;
    width:86px;
    height:77px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:86px;
    height:77px;
}

.u85 {
    position:absolute;
    left:2px;
    top:30px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:152px;
    top:99px;
    width:104px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:266px;
    top:105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:54px;
    top:72px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:117px;
    top:73px;
    width:10px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:128px;
    top:72px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:194px;
    top:73px;
    width:10px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:208px;
    top:72px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_mouseOver {
    background-image: url('../bar_info_files/button_u93_mouseOver.png');
}

.u93_mouseDown {
    background-image: url('../bar_info_files/button_u93_mouseDown.png');
}

.u93_disabled {
    background-image: url('../bar_info_files/button_u93_disabled.png');
}

.u93_normal {
    background-image: url('../bar_info_files/button_u93_normal.png');
}

.u93_container {
    position:absolute;
    left:663px;
    top:101px;
    width:79px;
    height:25px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:31px;
}

.u94 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_line {
    background-image: url('../bar_info_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:0px;
    top:4px;
    width:74px;
    height:3px;
}

.u95 {
    position:absolute;
    left:665px;
    top:121px;
    width:74px;
    height:10px;
    
}

.u96 {
    position:absolute;
    left:663px;
    top:141px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_line {
    background-image: url('../主页-成员-全部问题_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u98 {
    position:absolute;
    left:50px;
    top:241px;
    width:726px;
    height:10px;
    
}

.u99 {
    position:absolute;
    left:68px;
    top:185px;
    width:319px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:56px;
    top:256px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:16px;
    top:0px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../主页-成员-全部问题_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:56px;
    top:351px;
    width:724px;
    height:107px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:730px;
    height:113px;
}

.u104 {
    position:absolute;
    left:2px;
    top:46px;
    width:720px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../主页-成员-全部问题_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:663px;
    top:468px;
    width:117px;
    height:29px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    height:29px;
}

.u106 {
    position:absolute;
    left:2px;
    top:6px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../主页-成员-全部问题_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:682px;
    top:287px;
    width:90px;
    height:33px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:33px;
}

.u108 {
    position:absolute;
    left:2px;
    top:8px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:608px;
    top:218px;
    width:178px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../主页-成员-全部问题_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:86px;
    top:892px;
    width:638px;
    height:44px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:638px;
    height:44px;
}

.u111 {
    position:absolute;
    left:2px;
    top:14px;
    width:634px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:56px;
    top:287px;
    width:668px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:58px;
    top:320px;
    width:291px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_line {
    background-image: url('../主页-成员-全部问题_files/u114_line.png');
}

.u114_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u114 {
    position:absolute;
    left:54px;
    top:507px;
    width:726px;
    height:10px;
    
}

.u115 {
    position:absolute;
    left:58px;
    top:535px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:56px;
    top:568px;
    width:668px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:56px;
    top:602px;
    width:291px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../主页-成员-全部问题_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:690px;
    top:553px;
    width:90px;
    height:46px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:46px;
}

.u119 {
    position:absolute;
    left:2px;
    top:15px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_line {
    background-image: url('../主页-成员-全部问题_files/u120_line.png');
}

.u120_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u120 {
    position:absolute;
    left:54px;
    top:637px;
    width:726px;
    height:10px;
    
}

.u121_line {
    background-image: url('../主页-成员-全部问题_files/u121_line.png');
}

.u121_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u121 {
    position:absolute;
    left:48px;
    top:769px;
    width:726px;
    height:10px;
    
}

.u122_normal {
    background-image: url('../主页-成员-全部问题_files/u118_normal.png');
}

.u122_container {
    position:absolute;
    left:690px;
    top:675px;
    width:90px;
    height:46px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:15px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:58px;
    top:657px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:58px;
    top:696px;
    width:668px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_line {
    background-image: url('../主页-成员-全部问题_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u126 {
    position:absolute;
    left:52px;
    top:936px;
    width:726px;
    height:10px;
    
}

.u127 {
    position:absolute;
    left:58px;
    top:789px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:56px;
    top:826px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../主页-成员-全部问题_files/u118_normal.png');
}

.u129_container {
    position:absolute;
    left:690px;
    top:826px;
    width:90px;
    height:46px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:46px;
}

.u130 {
    position:absolute;
    left:2px;
    top:15px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:630px;
    top:568px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:482px;
    top:696px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:482px;
    top:826px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:58px;
    top:733px;
    width:291px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:56px;
    top:867px;
    width:291px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

