body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../right_bar_desc_for_anno_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:814px;
    top:161px;
    width:197px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:860px;
    top:94px;
    width:35px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../right_bar_desc_for_anno_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u3 {
    position:absolute;
    left:815px;
    top:125px;
    width:202px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:815px;
    top:135px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:815px;
    top:205px;
    width:207px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../right_bar_desc_for_anno_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u6 {
    position:absolute;
    left:815px;
    top:272px;
    width:202px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:815px;
    top:255px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_mouseOver.png');
}

.u8_mouseDown {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_mouseDown.png');
}

.u8_selected {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_selected.png');
}

.u8_disabled {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_disabled.png');
}

.u8_normal {
    background-image: url('../right_bar_desc_for_anno_files/button_u8_normal.png');
}

.u8_container {
    position:absolute;
    left:950px;
    top:101px;
    width:53px;
    height:21px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:27px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:816px;
    top:94px;
    width:36px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../right_bar_desc_for_anno_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u11 {
    position:absolute;
    left:845px;
    top:99px;
    width:10px;
    height:25px;
    
}

.u12 {
    position:absolute;
    left:922px;
    top:255px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:820px;
    top:165px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:894px;
    top:165px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:966px;
    top:165px;
    width:61px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../right_bar_desc_for_anno_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u16 {
    position:absolute;
    left:878px;
    top:169px;
    width:10px;
    height:25px;
    
}

.u17_line {
    background-image: url('../right_bar_desc_for_anno_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u17 {
    position:absolute;
    left:952px;
    top:169px;
    width:10px;
    height:25px;
    
}

.u19_normal {
    background-image: url('../head_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:50px;
    top:7px;
    width:971px;
    height:57px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:977px;
    height:63px;
}

.u20 {
    position:absolute;
    left:2px;
    top:20px;
    width:967px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:62px;
    top:18px;
    width:87px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../head_files/button_u22_mouseOver.png');
}

.u22_mouseDown {
    background-image: url('../head_files/button_u22_mouseDown.png');
}

.u22_selected {
    background-image: url('../head_files/button_u22_selected.png');
}

.u22_disabled {
    background-image: url('../head_files/button_u22_disabled.png');
}

.u22_normal {
    background-image: url('../head_files/button_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:431px;
    top:23px;
    width:74px;
    height:27px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:33px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../head_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:70px;
    height:3px;
}

.u24 {
    position:absolute;
    left:432px;
    top:44px;
    width:70px;
    height:10px;
    
}

.u25_mouseOver {
    background-image: url('../head_files/button_u22_mouseOver.png');
}

.u25_mouseDown {
    background-image: url('../head_files/button_u22_mouseDown.png');
}

.u25_selected {
    background-image: url('../head_files/button_u22_selected.png');
}

.u25_disabled {
    background-image: url('../head_files/button_u22_disabled.png');
}

.u25_normal {
    background-image: url('../head_files/button_u22_normal.png');
}

.u25_container {
    position:absolute;
    left:523px;
    top:23px;
    width:74px;
    height:27px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:33px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../head_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:70px;
    height:3px;
}

.u27 {
    position:absolute;
    left:524px;
    top:44px;
    width:70px;
    height:10px;
    
}

.u28_normal {
    background-image: url('../head_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:806px;
    top:18px;
    width:195px;
    height:38px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:38px;
}

.u29 {
    position:absolute;
    left:2px;
    top:11px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../head_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:149px;
    top:18px;
    width:267px;
    height:32px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:38px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:263px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../right_top5_files/tab_u33_normal.png');
}

.u33_container {
    position:absolute;
    left:816px;
    top:612px;
    width:61px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../right_top5_files/tab_u35_mouseOver.png');
}

.u35_mouseDown {
    background-image: url('../right_top5_files/tab_u35_mouseDown.png');
}

.u35_disabled {
    background-image: url('../right_top5_files/tab_u35_disabled.png');
}

.u35_normal {
    background-image: url('../right_top5_files/tab_u35_disabled.png');
}

.u35_container {
    position:absolute;
    left:880px;
    top:612px;
    width:64px;
    height:24px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:30px;
}

.u36 {
    position:absolute;
    left:2px;
    top:5px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../right_top5_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:816px;
    top:637px;
    width:218px;
    height:272px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:278px;
}

.u38 {
    position:absolute;
    left:2px;
    top:128px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:830px;
    top:762px;
    width:48px;
    height:48px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u40 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../right_top5_files/image_u41_normal.png');
}

.u41_container {
    position:absolute;
    left:828px;
    top:650px;
    width:48px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u42 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../right_top5_files/image_u43_normal.png');
}

.u43_container {
    position:absolute;
    left:830px;
    top:707px;
    width:46px;
    height:46px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../right_top5_files/image_u45_normal.png');
}

.u45_container {
    position:absolute;
    left:831px;
    top:823px;
    width:46px;
    height:46px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:881px;
    top:655px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../right_top5_files/image_u48_normal.png');
}

.u48_container {
    position:absolute;
    left:959px;
    top:654px;
    width:20px;
    height:18px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:18px;
}

.u49 {
    position:absolute;
    left:2px;
    top:1px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:882px;
    top:681px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:881px;
    top:708px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:880px;
    top:734px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:885px;
    top:762px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:884px;
    top:789px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:883px;
    top:825px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:882px;
    top:851px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:830px;
    top:879px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:816px;
    top:583px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:820px;
    top:447px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../right_category_files/image_u61_normal.png');
}

.u61_container {
    position:absolute;
    left:820px;
    top:478px;
    width:48px;
    height:48px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u62 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:873px;
    top:481px;
    width:49px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:820px;
    top:533px;
    width:188px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:873px;
    top:506px;
    width:103px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../right_category_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u66 {
    position:absolute;
    left:816px;
    top:573px;
    width:202px;
    height:10px;
    
}

.u67 {
    position:absolute;
    left:817px;
    top:283px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../right_category_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:823px;
    top:313px;
    width:70px;
    height:24px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:30px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../right_category_files/u68_normal.png');
}

.u70_container {
    position:absolute;
    left:823px;
    top:347px;
    width:70px;
    height:24px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:30px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../right_category_files/u68_normal.png');
}

.u72_container {
    position:absolute;
    left:824px;
    top:382px;
    width:70px;
    height:24px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:30px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:827px;
    top:419px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../right_category_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:202px;
    height:3px;
}

.u75 {
    position:absolute;
    left:820px;
    top:438px;
    width:202px;
    height:10px;
    
}

.u77_line {
    background-image: url('../bar_info_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u77 {
    position:absolute;
    left:55px;
    top:173px;
    width:726px;
    height:10px;
    
}

.u78_normal {
    background-image: url('../bar_info_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:57px;
    top:95px;
    width:86px;
    height:77px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:86px;
    height:77px;
}

.u79 {
    position:absolute;
    left:2px;
    top:30px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:152px;
    top:99px;
    width:104px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:266px;
    top:105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:54px;
    top:72px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:117px;
    top:73px;
    width:10px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:128px;
    top:72px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:194px;
    top:73px;
    width:10px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:208px;
    top:72px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_mouseOver {
    background-image: url('../bar_info_files/button_u87_mouseOver.png');
}

.u87_mouseDown {
    background-image: url('../bar_info_files/button_u87_mouseDown.png');
}

.u87_disabled {
    background-image: url('../bar_info_files/button_u87_disabled.png');
}

.u87_normal {
    background-image: url('../bar_info_files/button_u87_normal.png');
}

.u87_container {
    position:absolute;
    left:663px;
    top:101px;
    width:79px;
    height:25px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:31px;
}

.u88 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_line {
    background-image: url('../bar_info_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:0px;
    top:4px;
    width:74px;
    height:3px;
}

.u89 {
    position:absolute;
    left:665px;
    top:121px;
    width:74px;
    height:10px;
    
}

.u90 {
    position:absolute;
    left:663px;
    top:141px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:153px;
    top:138px;
    width:319px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../body_trends_files/image_u93_normal.png');
}

.u93_container {
    position:absolute;
    left:59px;
    top:302px;
    width:48px;
    height:48px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u94 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:117px;
    top:326px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:117px;
    top:304px;
    width:272px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:119px;
    top:350px;
    width:634px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:132px;
    top:410px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../body_trends_files/u99_line.png');
}

.u99_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u99 {
    position:absolute;
    left:47px;
    top:427px;
    width:726px;
    height:10px;
    
}

.u100 {
    position:absolute;
    left:712px;
    top:308px;
    width:61px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:110px;
    top:470px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../body_trends_files/image_u102_normal.png');
}

.u102_container {
    position:absolute;
    left:54px;
    top:445px;
    width:46px;
    height:46px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u103 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:110px;
    top:499px;
    width:643px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:124px;
    top:618px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_line {
    background-image: url('../body_trends_files/u106_line.png');
}

.u106_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u106 {
    position:absolute;
    left:47px;
    top:633px;
    width:726px;
    height:10px;
    
}

.u107 {
    position:absolute;
    left:706px;
    top:446px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../body_trends_files/image_u108_normal.png');
}

.u108_container {
    position:absolute;
    left:119px;
    top:411px;
    width:13px;
    height:12px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u109 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../body_trends_files/image_u108_normal.png');
}

.u110_container {
    position:absolute;
    left:108px;
    top:621px;
    width:13px;
    height:12px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u111 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../body_trends_files/image_u112_normal.png');
}

.u112_container {
    position:absolute;
    left:174px;
    top:410px;
    width:15px;
    height:16px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../body_trends_files/image_u112_normal.png');
}

.u114_container {
    position:absolute;
    left:166px;
    top:617px;
    width:15px;
    height:16px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u115 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:108px;
    top:674px;
    width:257px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../body_trends_files/image_u117_normal.png');
}

.u117_container {
    position:absolute;
    left:54px;
    top:649px;
    width:46px;
    height:46px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u118 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:108px;
    top:1057px;
    width:418px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_container {
    position:absolute;
    left:557px;
    top:1057px;
    width:147px;
    height:107px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:147px;
    height:107px;
}

.u121 {
    position:absolute;
    left:2px;
    top:46px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:105px;
    top:1223px;
    width:239px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../body_trends_files/image_u123_normal.png');
}

.u123_container {
    position:absolute;
    left:355px;
    top:1295px;
    width:188px;
    height:34px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:34px;
}

.u124 {
    position:absolute;
    left:2px;
    top:9px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../body_trends_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:98px;
    top:1478px;
    width:638px;
    height:44px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:638px;
    height:44px;
}

.u126 {
    position:absolute;
    left:2px;
    top:14px;
    width:634px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_line {
    background-image: url('../body_trends_files/u127_line.png');
}

.u127_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u127 {
    position:absolute;
    left:52px;
    top:288px;
    width:726px;
    height:10px;
    
}

.u128 {
    position:absolute;
    left:110px;
    top:446px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:108px;
    top:649px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:108px;
    top:703px;
    width:147px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:710px;
    top:644px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_line {
    background-image: url('../body_trends_files/u132_line.png');
}

.u132_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u132 {
    position:absolute;
    left:47px;
    top:828px;
    width:726px;
    height:10px;
    
}

.u133_normal {
    background-image: url('../body_trends_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:108px;
    top:728px;
    width:436px;
    height:62px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:442px;
    height:68px;
}

.u134 {
    position:absolute;
    left:2px;
    top:23px;
    width:432px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u135 {
    position:absolute;
    left:256px;
    top:879px;
    width:11px;
    height:11px;
    overflow:hidden;
}

#pd0u135 {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
    
}

.u136 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137_mouseOver {
    background-image: url('../body_trends_files/button_u137_mouseOver.png');
}

.u137_mouseDown {
    background-image: url('../body_trends_files/button_u137_mouseDown.png');
}

.u137_selected {
    background-image: url('../body_trends_files/button_u137_selected.png');
}

.u137_disabled {
    background-image: url('../body_trends_files/button_u137_disabled.png');
}

.u137_normal {
    background-image: url('../body_trends_files/button_u137_normal.png');
}

.u137_container {
    position:absolute;
    left:465px;
    top:800px;
    width:79px;
    height:25px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:31px;
}

.u138 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_line {
    background-image: url('../body_trends_files/u139_line.png');
}

.u139_line {
    position:absolute;
    left:0px;
    top:4px;
    width:75px;
    height:3px;
}

.u139 {
    position:absolute;
    left:467px;
    top:820px;
    width:75px;
    height:10px;
    
}

.u140 {
    position:absolute;
    left:409px;
    top:805px;
    width:34px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:108px;
    top:866px;
    width:257px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../body_trends_files/image_u117_normal.png');
}

.u142_container {
    position:absolute;
    left:54px;
    top:843px;
    width:46px;
    height:46px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:46px;
}

.u143 {
    position:absolute;
    left:2px;
    top:15px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:108px;
    top:843px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:710px;
    top:839px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_line {
    background-image: url('../body_trends_files/u146_line.png');
}

.u146_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u146 {
    position:absolute;
    left:54px;
    top:1184px;
    width:726px;
    height:10px;
    
}

.u147 {
    position:absolute;
    left:108px;
    top:892px;
    width:652px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_line {
    background-image: url('../body_trends_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u148 {
    position:absolute;
    left:47px;
    top:988px;
    width:726px;
    height:10px;
    
}

.u149_normal {
    background-image: url('../body_trends_files/image_u93_normal.png');
}

.u149_container {
    position:absolute;
    left:54px;
    top:1003px;
    width:48px;
    height:48px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u150 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:108px;
    top:1003px;
    width:185px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:108px;
    top:1028px;
    width:257px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:706px;
    top:1003px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:124px;
    top:1167px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../body_trends_files/image_u108_normal.png');
}

.u155_container {
    position:absolute;
    left:108px;
    top:1170px;
    width:13px;
    height:12px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u156 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../body_trends_files/image_u112_normal.png');
}

.u157_container {
    position:absolute;
    left:166px;
    top:1166px;
    width:15px;
    height:16px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u158 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:121px;
    top:972px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../body_trends_files/image_u108_normal.png');
}

.u160_container {
    position:absolute;
    left:108px;
    top:973px;
    width:13px;
    height:12px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u161 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../body_trends_files/image_u112_normal.png');
}

.u162_container {
    position:absolute;
    left:163px;
    top:972px;
    width:15px;
    height:16px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u163 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_line {
    background-image: url('../body_trends_files/u164_line.png');
}

.u164_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u164 {
    position:absolute;
    left:54px;
    top:1353px;
    width:726px;
    height:10px;
    
}

.u165_normal {
    background-image: url('../body_trends_files/image_u93_normal.png');
}

.u165_container {
    position:absolute;
    left:57px;
    top:1198px;
    width:48px;
    height:48px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u166 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:111px;
    top:1198px;
    width:185px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:709px;
    top:1198px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:127px;
    top:1338px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../body_trends_files/image_u108_normal.png');
}

.u170_container {
    position:absolute;
    left:111px;
    top:1341px;
    width:13px;
    height:12px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:12px;
}

.u171 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../body_trends_files/image_u112_normal.png');
}

.u172_container {
    position:absolute;
    left:169px;
    top:1337px;
    width:15px;
    height:16px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u173 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:111px;
    top:1259px;
    width:602px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../body_trends_files/image_u175_normal.png');
}

.u175_container {
    position:absolute;
    left:57px;
    top:1369px;
    width:48px;
    height:48px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u176 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:114px;
    top:1369px;
    width:185px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_line {
    background-image: url('../body_trends_files/u178_line.png');
}

.u178_line {
    position:absolute;
    left:0px;
    top:4px;
    width:726px;
    height:3px;
}

.u178 {
    position:absolute;
    left:54px;
    top:1458px;
    width:726px;
    height:10px;
    
}

.u179 {
    position:absolute;
    left:115px;
    top:1394px;
    width:602px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:115px;
    top:1422px;
    width:602px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:56px;
    top:187px;
    width:261px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:120px;
    top:217px;
    width:473px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:120px;
    top:265px;
    width:387px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_container {
    position:absolute;
    left:589px;
    top:186px;
    width:129px;
    height:92px;
}

#u184_img {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:92px;
}

.u185 {
    position:absolute;
    left:2px;
    top:38px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:706px;
    top:1363px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

