body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:50px;
    top:141px;
    width:980px;
    height:158px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:158px;
}

.u1 {
    position:absolute;
    left:2px;
    top:71px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../已回答-默认_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:51px;
    top:299px;
    width:979px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../已回答-默认_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:290px;
    top:316px;
    width:88px;
    height:34px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:40px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:84px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../已回答-默认_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:182px;
    top:315px;
    width:91px;
    height:34px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:40px;
}

.u7 {
    position:absolute;
    left:10px;
    top:8px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../已回答-默认_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:237px;
    height:3px;
}

.u9 {
    position:absolute;
    left:50px;
    top:344px;
    width:237px;
    height:10px;
    
}

.u10_line {
    background-image: url('../已回答-默认_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:648px;
    height:3px;
}

.u10 {
    position:absolute;
    left:380px;
    top:344px;
    width:648px;
    height:10px;
    
}

.u11_line {
    background-image: url('../已回答-默认_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:91px;
    height:3px;
}

.u11 {
    position:absolute;
    left:288px;
    top:310px;
    width:91px;
    height:10px;
    
}

.u12_line {
    background-image: url('../已回答-默认_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:34px;
}

.u12 {
    position:absolute;
    left:283px;
    top:315px;
    width:10px;
    height:34px;
    
}

.u13_line {
    background-image: url('../已回答-默认_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:34px;
}

.u13 {
    position:absolute;
    left:375px;
    top:315px;
    width:10px;
    height:34px;
    
}

.u14_line {
    background-image: url('../已回答-默认_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u14 {
    position:absolute;
    left:1024px;
    top:299px;
    width:10px;
    height:50px;
    
}

.u15_normal {
    background-image: url('../已回答-默认_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:63px;
    top:231px;
    width:103px;
    height:103px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:109px;
}

.u16 {
    position:absolute;
    left:2px;
    top:44px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../已回答-默认_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:65px;
    top:233px;
    width:100px;
    height:100px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

.u18 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:178px;
    top:259px;
    width:132px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../已回答-默认_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:304px;
    top:271px;
    width:40px;
    height:15px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:21px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../页头_files/u68_normal.png');
}

.u22_container {
    position:absolute;
    left:35px;
    top:2px;
    width:1020px;
    height:107px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:107px;
}

.u23 {
    position:absolute;
    left:2px;
    top:46px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:53px;
    top:119px;
    width:199px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../已回答-默认_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u27 {
    position:absolute;
    left:45px;
    top:299px;
    width:10px;
    height:50px;
    
}

.u28 {
    position:absolute;
    left:80px;
    top:453px;
    width:436px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:701px;
    top:453px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../已回答-默认_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u30 {
    position:absolute;
    left:52px;
    top:478px;
    width:710px;
    height:10px;
    
}

.u31 {
    position:absolute;
    left:80px;
    top:497px;
    width:462px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:701px;
    top:499px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:80px;
    top:544px;
    width:382px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../已回答-默认_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:712px;
    height:3px;
}

.u34 {
    position:absolute;
    left:51px;
    top:572px;
    width:712px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:79px;
    top:589px;
    width:541px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../已回答-默认_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:711px;
    height:3px;
}

.u36 {
    position:absolute;
    left:51px;
    top:523px;
    width:711px;
    height:10px;
    
}

.u37 {
    position:absolute;
    left:80px;
    top:640px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../已回答-默认_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:404px;
    top:1567px;
    width:364px;
    height:50px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:364px;
    height:50px;
}

.u39 {
    position:absolute;
    left:2px;
    top:17px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:701px;
    top:547px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:621px;
    top:498px;
    width:59px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:621px;
    top:546px;
    width:83px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:701px;
    top:595px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:701px;
    top:641px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:621px;
    top:595px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:51px;
    top:640px;
    width:20px;
    height:16px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:49px;
    top:594px;
    width:20px;
    height:16px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u50_container {
    position:absolute;
    left:49px;
    top:544px;
    width:20px;
    height:16px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u52_container {
    position:absolute;
    left:50px;
    top:453px;
    width:20px;
    height:16px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u53 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u54_container {
    position:absolute;
    left:50px;
    top:499px;
    width:20px;
    height:16px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u55 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../已回答-默认_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:460px;
    top:450px;
    width:59px;
    height:23px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:23px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:621px;
    top:455px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../已回答-默认_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:583px;
    top:639px;
    width:18px;
    height:17px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:17px;
}

.u60 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../已回答-默认_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:188px;
    top:1420px;
    width:385px;
    height:37px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:37px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:381px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:51px;
    top:404px;
    width:299px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../已回答-默认_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:354px;
    top:314px;
    width:25px;
    height:16px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:22px;
}

.u65 {
    position:absolute;
    left:2px;
    top:1px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:672px;
    top:367px;
    width:140px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:53px;
    top:366px;
    width:249px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../已回答-默认_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:714px;
    height:3px;
}

.u68 {
    position:absolute;
    left:50px;
    top:388px;
    width:714px;
    height:10px;
    
}

.u69_line {
    background-image: url('../已回答-默认_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u69 {
    position:absolute;
    left:53px;
    top:620px;
    width:710px;
    height:10px;
    
}

.u70 {
    position:absolute;
    left:621px;
    top:640px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:80px;
    top:685px;
    width:436px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:701px;
    top:685px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_line {
    background-image: url('../已回答-默认_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u73 {
    position:absolute;
    left:52px;
    top:710px;
    width:710px;
    height:10px;
    
}

.u74 {
    position:absolute;
    left:80px;
    top:729px;
    width:462px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:701px;
    top:731px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:80px;
    top:776px;
    width:382px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../已回答-默认_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:0px;
    top:4px;
    width:712px;
    height:3px;
}

.u77 {
    position:absolute;
    left:51px;
    top:804px;
    width:712px;
    height:10px;
    
}

.u78 {
    position:absolute;
    left:79px;
    top:821px;
    width:541px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../已回答-默认_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:0px;
    top:4px;
    width:711px;
    height:3px;
}

.u79 {
    position:absolute;
    left:51px;
    top:755px;
    width:711px;
    height:10px;
    
}

.u80 {
    position:absolute;
    left:80px;
    top:872px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:701px;
    top:779px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:621px;
    top:730px;
    width:59px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:621px;
    top:778px;
    width:83px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:701px;
    top:827px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:701px;
    top:873px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:621px;
    top:827px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u87_container {
    position:absolute;
    left:51px;
    top:872px;
    width:20px;
    height:16px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u88 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u89_container {
    position:absolute;
    left:49px;
    top:826px;
    width:20px;
    height:16px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u90 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u91_container {
    position:absolute;
    left:49px;
    top:776px;
    width:20px;
    height:16px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u92 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u93_container {
    position:absolute;
    left:50px;
    top:685px;
    width:20px;
    height:16px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u94 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u95_container {
    position:absolute;
    left:50px;
    top:731px;
    width:20px;
    height:16px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u96 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:621px;
    top:687px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_line {
    background-image: url('../已回答-默认_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u98 {
    position:absolute;
    left:53px;
    top:852px;
    width:710px;
    height:10px;
    
}

.u99 {
    position:absolute;
    left:621px;
    top:872px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../已回答-默认_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u100 {
    position:absolute;
    left:52px;
    top:665px;
    width:710px;
    height:10px;
    
}

.u101_line {
    background-image: url('../已回答-默认_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u101 {
    position:absolute;
    left:53px;
    top:898px;
    width:710px;
    height:10px;
    
}

.u102 {
    position:absolute;
    left:81px;
    top:921px;
    width:419px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:702px;
    top:921px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../已回答-默认_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u104 {
    position:absolute;
    left:53px;
    top:946px;
    width:710px;
    height:10px;
    
}

.u105 {
    position:absolute;
    left:81px;
    top:965px;
    width:462px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:702px;
    top:967px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:81px;
    top:1012px;
    width:382px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_line {
    background-image: url('../已回答-默认_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:0px;
    top:4px;
    width:712px;
    height:3px;
}

.u108 {
    position:absolute;
    left:52px;
    top:1040px;
    width:712px;
    height:10px;
    
}

.u109 {
    position:absolute;
    left:80px;
    top:1057px;
    width:541px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_line {
    background-image: url('../已回答-默认_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:0px;
    top:4px;
    width:711px;
    height:3px;
}

.u110 {
    position:absolute;
    left:52px;
    top:991px;
    width:711px;
    height:10px;
    
}

.u111 {
    position:absolute;
    left:81px;
    top:1108px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:702px;
    top:1015px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:621px;
    top:966px;
    width:59px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:621px;
    top:1014px;
    width:83px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:702px;
    top:1063px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:702px;
    top:1109px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:621px;
    top:1063px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u118_container {
    position:absolute;
    left:52px;
    top:1108px;
    width:20px;
    height:16px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u119 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u120_container {
    position:absolute;
    left:50px;
    top:1062px;
    width:20px;
    height:16px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u121 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u122_container {
    position:absolute;
    left:50px;
    top:1012px;
    width:20px;
    height:16px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u123 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u124_container {
    position:absolute;
    left:51px;
    top:921px;
    width:20px;
    height:16px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u125 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u126_container {
    position:absolute;
    left:51px;
    top:967px;
    width:20px;
    height:16px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u127 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../已回答-默认_files/u56_normal.png');
}

.u128_container {
    position:absolute;
    left:462px;
    top:918px;
    width:59px;
    height:23px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:23px;
}

.u129 {
    position:absolute;
    left:2px;
    top:4px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:621px;
    top:923px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../已回答-默认_files/u59_normal.png');
}

.u131_container {
    position:absolute;
    left:307px;
    top:1108px;
    width:18px;
    height:17px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:17px;
}

.u132 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_line {
    background-image: url('../已回答-默认_files/u133_line.png');
}

.u133_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u133 {
    position:absolute;
    left:54px;
    top:1088px;
    width:710px;
    height:10px;
    
}

.u134 {
    position:absolute;
    left:621px;
    top:1108px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:81px;
    top:1153px;
    width:436px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:702px;
    top:1153px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_line {
    background-image: url('../已回答-默认_files/u137_line.png');
}

.u137_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u137 {
    position:absolute;
    left:53px;
    top:1178px;
    width:710px;
    height:10px;
    
}

.u138 {
    position:absolute;
    left:81px;
    top:1197px;
    width:462px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:702px;
    top:1199px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:81px;
    top:1244px;
    width:382px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_line {
    background-image: url('../已回答-默认_files/u141_line.png');
}

.u141_line {
    position:absolute;
    left:0px;
    top:4px;
    width:712px;
    height:3px;
}

.u141 {
    position:absolute;
    left:52px;
    top:1272px;
    width:712px;
    height:10px;
    
}

.u142 {
    position:absolute;
    left:80px;
    top:1289px;
    width:541px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_line {
    background-image: url('../已回答-默认_files/u143_line.png');
}

.u143_line {
    position:absolute;
    left:0px;
    top:4px;
    width:711px;
    height:3px;
}

.u143 {
    position:absolute;
    left:52px;
    top:1223px;
    width:711px;
    height:10px;
    
}

.u144 {
    position:absolute;
    left:81px;
    top:1340px;
    width:435px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:702px;
    top:1247px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:621px;
    top:1198px;
    width:59px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:621px;
    top:1246px;
    width:83px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:702px;
    top:1295px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:702px;
    top:1341px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:621px;
    top:1295px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u151_container {
    position:absolute;
    left:52px;
    top:1340px;
    width:20px;
    height:16px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u152 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u153_container {
    position:absolute;
    left:50px;
    top:1294px;
    width:20px;
    height:16px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u154 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u155_container {
    position:absolute;
    left:50px;
    top:1244px;
    width:20px;
    height:16px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u156 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../已回答-默认_files/u48_normal.png');
}

.u157_container {
    position:absolute;
    left:51px;
    top:1153px;
    width:20px;
    height:16px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u158 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../已回答-默认_files/u46_normal.png');
}

.u159_container {
    position:absolute;
    left:51px;
    top:1199px;
    width:20px;
    height:16px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u160 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:621px;
    top:1155px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_line {
    background-image: url('../已回答-默认_files/u162_line.png');
}

.u162_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u162 {
    position:absolute;
    left:54px;
    top:1320px;
    width:710px;
    height:10px;
    
}

.u163 {
    position:absolute;
    left:621px;
    top:1340px;
    width:87px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_line {
    background-image: url('../已回答-默认_files/u164_line.png');
}

.u164_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u164 {
    position:absolute;
    left:53px;
    top:1133px;
    width:710px;
    height:10px;
    
}

.u165_line {
    background-image: url('../已回答-默认_files/u165_line.png');
}

.u165_line {
    position:absolute;
    left:0px;
    top:4px;
    width:710px;
    height:3px;
}

.u165 {
    position:absolute;
    left:54px;
    top:1366px;
    width:710px;
    height:10px;
    
}

.u166_normal {
    background-image: url('../已回答-默认_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:553px;
    top:962px;
    width:29px;
    height:23px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:23px;
}

.u167 {
    position:absolute;
    left:2px;
    top:4px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../已回答-默认_files/u166_normal.png');
}

.u168_container {
    position:absolute;
    left:553px;
    top:634px;
    width:29px;
    height:23px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:23px;
}

.u169 {
    position:absolute;
    left:2px;
    top:4px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../已回答-默认_files/u166_normal.png');
}

.u170_container {
    position:absolute;
    left:551px;
    top:490px;
    width:29px;
    height:23px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:23px;
}

.u171 {
    position:absolute;
    left:2px;
    top:4px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../回答中心右栏_files/u149_normal.png');
}

.u172_container {
    position:absolute;
    left:780px;
    top:362px;
    width:250px;
    height:435px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:441px;
}

.u173 {
    position:absolute;
    left:12px;
    top:15px;
    width:226px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_line {
    background-image: url('../回答中心右栏_files/u151_line.png');
}

.u174_line {
    position:absolute;
    left:0px;
    top:4px;
    width:250px;
    height:3px;
}

.u174 {
    position:absolute;
    left:780px;
    top:547px;
    width:250px;
    height:10px;
    
}

.u175_normal {
    background-image: url('../回答中心右栏_files/u152_normal.png');
}

.u175_container {
    position:absolute;
    left:794px;
    top:404px;
    width:72px;
    height:68px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:68px;
}

.u176 {
    position:absolute;
    left:2px;
    top:26px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:872px;
    top:401px;
    width:134px;
    height:69px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:801px;
    top:573px;
    width:156px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:837px;
    top:627px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:953px;
    top:627px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:837px;
    top:659px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:954px;
    top:659px;
    width:35px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:837px;
    top:691px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u184_container {
    position:absolute;
    left:802px;
    top:627px;
    width:14px;
    height:14px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u185 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u186_container {
    position:absolute;
    left:802px;
    top:659px;
    width:14px;
    height:14px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u187 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:953px;
    top:691px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u189_container {
    position:absolute;
    left:802px;
    top:691px;
    width:14px;
    height:14px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u190 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:837px;
    top:724px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:953px;
    top:724px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u193_container {
    position:absolute;
    left:802px;
    top:724px;
    width:14px;
    height:14px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u194 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:837px;
    top:755px;
    width:81px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:954px;
    top:755px;
    width:42px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../回答中心右栏_files/u161_normal.png');
}

.u197_container {
    position:absolute;
    left:802px;
    top:756px;
    width:14px;
    height:14px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u198 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:801px;
    top:602px;
    width:191px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:793px;
    top:374px;
    width:156px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:801px;
    top:485px;
    width:225px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../回答中心右栏_files/u180_normal.png');
}

.u203_container {
    position:absolute;
    left:931px;
    top:407px;
    width:22px;
    height:11px;
}

#u203_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:11px;
}

.u204 {
    position:absolute;
    left:2px;
    top:-2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../已回答-默认_files/u206_normal.png');
}

.u206_container {
    position:absolute;
    left:574px;
    top:403px;
    width:140px;
    height:24px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:30px;
}

.u207 {
    position:absolute;
    left:2px;
    top:5px;
    width:136px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../已回答-默认_files/u208_normal.png');
}

.u208_container {
    position:absolute;
    left:714px;
    top:403px;
    width:49px;
    height:24px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:30px;
}

.u209 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../已回答-默认_files/u210_normal.png');
}

.u210_container {
    position:absolute;
    left:578px;
    top:405px;
    width:17px;
    height:20px;
}

#u210_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:20px;
}

.u211 {
    position:absolute;
    left:2px;
    top:2px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../已回答-默认_files/u212_normal.png');
}

.u212_container {
    position:absolute;
    left:854px;
    top:311px;
    width:83px;
    height:26px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:32px;
}

.u213 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../已回答-默认_files/u214_normal.png');
}

.u214_container {
    position:absolute;
    left:944px;
    top:311px;
    width:70px;
    height:26px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:32px;
}

.u215 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

